# DnD Monster Data Wrangling

## Importation

In [1]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast
import re
from bioinfokit.analys import stat
from src.features.build_features import clean_list
from word2number import w2n

%matplotlib inline

monster_df = pd.read_csv('../data/raw/Monster_Data_RAW.csv')

monster_df.head()

,Unnamed: 0,Monster Name,Size,Type,Alignment,Traits,Damage Resistances,Monster Tags:,Mythic Actions,Reactions,...,Proficiency Bonus,STR,DEX,CON,INT,WIS,CHA,Actions,Legendary Actions,Environment:
0,0,Adult Green Dragon,Huge,['dragon'],lawful evil,['Amphibious. The dragon can breathe air and w...,NaN,NaN,NaN,NaN,...,5,23,12,21,18,15,17,['Multiattack. The dragon can use its Frightfu...,"[""The dragon can take 3 legendary actions, cho...",['Forest']
1,1,Adult Silver Dragon,Huge,['dragon'],lawful good,['Legendary Resistance (3/Day). If the dragon ...,NaN,NaN,NaN,NaN,...,5,27,10,25,16,13,21,['Multiattack. The dragon can use its Frightfu...,"[""The dragon can take 3 legendary actions, cho...","['Mountain', 'Urban']"
2,2,Adult White Dragon,Huge,['dragon'],chaotic evil,"[""Ice Walk. The dragon can move across and cli...",NaN,NaN,NaN,NaN,...,5,22,10,22,8,12,12,['Multiattack. The dragon can use its Frightfu...,"[""The dragon can take 3 legendary actions, cho...",['Arctic']
3,3,Air Elemental,Large,['elemental'],neutral,"[""Air Form. The elemental can enter a hostile ...","Lightning, Thunder; Bludgeoning, Piercing, and...",NaN,NaN,NaN,...,3,14,20,14,6,10,6,['Multiattack. The elemental makes two slam at...,NaN,"['Desert', 'Mountain']"
4,4,Ape,Medium,['beast'],unaligned,[nan],NaN,['Misc Creature'],NaN,NaN,...,2,16,14,14,6,12,7,['Multiattack. The ape makes two fist attacks....,NaN,['Forest']

## Performing the Basic Cleanup
Removing columns we won't use, cleanining up feature titles, and checking out our dataset for datatypes and issues.

We know that Mythic Actions weren't introducted until a later version, so no monsters contain this category.

Unnamed:0 is useless, Monster Tags: is the same as Monster type (with a bit more specificity, which we don't need.)

Skills, Source, Launguages, and Senses are all unecessary for our MVP.

In [2]:
monster_df.drop(columns = {'Unnamed: 0', 'Mythic Actions', 'Monster Tags:', "Skills", 'Source', 'Languages', "Senses"}, inplace = True, axis = 1)
monster_df.rename(columns = {"Environment:":"Environment"}, inplace=True)

In [3]:
print(monster_df.columns)
print(monster_df.describe())

Index(['Monster Name', 'Size', 'Type', 'Alignment', 'Traits',
       'Damage Resistances', 'Reactions', 'Armor Class', 'Hit Points', 'Speed',
       'Saving Throws', 'Damage Vulnerabilities', 'Damage Immunities',
       'Condition Immunities', 'Challenge', 'Proficiency Bonus', 'STR', 'DEX',
       'CON', 'INT', 'WIS', 'CHA', 'Actions', 'Legendary Actions',
       'Environment'],
      dtype='object')
       Armor Class  Hit Points  Proficiency Bonus         STR         DEX  \
count   348.000000  348.000000         348.000000  348.000000  348.000000
mean     13.985632   78.399425           2.712644   14.951149   12.706897
std       3.155403   96.670352           1.296486    6.705018    3.078279
min       5.000000    1.000000           2.000000    1.000000    1.000000
25%      12.000000   17.000000           2.000000   11.000000   10.000000
50%      13.000000   45.000000           2.000000   16.000000   13.000000
75%      16.000000  110.000000           3.000000   19.000000   15.000000
max      25.000000  676.000000           9.000000   30.000000   22.000000

              CON         INT         WIS         CHA
count  348.000000  348.000000  348.000000  348.000000
mean    14.991379    7.683908   11.606322    9.548851
std      4.385913    5.673953    2.896418    5.780861
min      8.000000    1.000000    3.000000    1.000000
25%     12.000000    2.000000   10.000000    5.000000
50%     14.000000    7.000000   11.500000    8.000000
75%     17.000000   12.000000   13.000000   14.000000
max     30.000000   25.000000   25.000000   30.000000

## Challenge Rating (CR)
Currently Challenge Rating is a string, we want it to be an integer so we can use it. We need to remove the experience string attached and convert.

In [4]:
#split the string and only take the first part (Challenge Rating)
monster_df["Challenge"] = monster_df["Challenge"].str.split().str[0]

#turn fraction strings into floats
for indx, challenge in enumerate(monster_df["Challenge"]):
    if "/" in challenge:
       monster_df.loc[indx,'Challenge'] = pd.eval(challenge)
    else:
        monster_df.loc[indx,'Challenge'] = pd.to_numeric(challenge)

monster_df["Challenge"] = pd.to_numeric(monster_df["Challenge"])

## Monster Type
There are a large number of monster sub-types, this is unecessary for our analysis. we want to consolidate.

In [5]:
for indx,Type in enumerate(monster_df['Type']):
    monster_df.loc[indx,"Type"] = Type.split(",")[0].strip("[']")

## Missing Values

All features with missing values make sense esxcept Actions, which I would have assumed every creature has an action, that may not be the case however. For the others, they are all optional features that lower level monsters won't have.

The NAs may still cause issues down the road, so I will replace them all with a string text like "NA"

In [6]:
monster_df.isna().any()

monster_df.fillna("['NA']",inplace=True)

## List Values
We current have features where the values are varying list of items. For example, a monster may be found in more than one environment such as [mountain, coastal, underdark]. Unfortuntaly, they are reading as strings right now so we will need to convert them to lists for easy of use.

In [7]:
#All lists columns are actually strings!
for i,j in enumerate(monster_df["Environment"]):
   print("list",i,"is",type(j))

list 0 is <class 'str'>
list 1 is <class 'str'>
list 2 is <class 'str'>
list 3 is <class 'str'>
list 4 is <class 'str'>
list 5 is <class 'str'>
list 6 is <class 'str'>
list 7 is <class 'str'>
list 8 is <class 'str'>
list 9 is <class 'str'>
list 10 is <class 'str'>
list 11 is <class 'str'>
list 12 is <class 'str'>
list 13 is <class 'str'>
list 14 is <class 'str'>
list 15 is <class 'str'>
list 16 is <class 'str'>
list 17 is <class 'str'>
list 18 is <class 'str'>
list 19 is <class 'str'>
list 20 is <class 'str'>
list 21 is <class 'str'>
list 22 is <class 'str'>
list 23 is <class 'str'>
list 24 is <class 'str'>
list 25 is <class 'str'>
list 26 is <class 'str'>
list 27 is <class 'str'>
list 28 is <class 'str'>
list 29 is <class 'str'>
list 30 is <class 'str'>
list 31 is <class 'str'>
list 32 is <class 'str'>
list 33 is <class 'str'>
list 34 is <class 'str'>
list 35 is <class 'str'>
list 36 is <class 'str'>
list 37 is <class 'str'>
list 38 is <class 'str'>
list 39 is <class 'str'>
list 40 is <class 'str'>
list 41 is <class 'str'>
list 42 is <class 'str'>
list 43 is <class 'str'>
list 44 is <class 'str'>
list 45 is <class 'str'>
list 46 is <class 'str'>
list 47 is <class 'str'>
list 48 is <class 'str'>
list 49 is <class 'str'>
list 50 is <class 'str'>
list 51 is <class 'str'>
list 52 is <class 'str'>
list 53 is <class 'str'>
list 54 is <class 'str'>
list 55 is <class 'str'>
list 56 is <class 'str'>
list 57 is <class 'str'>
list 58 is <class 'str'>
list 59 is <class 'str'>
list 60 is <class 'str'>
list 61 is <class 'str'>
list 62 is <class 'str'>
list 63 is <class 'str'>
list 64 is <class 'str'>
list 65 is <class 'str'>
list 66 is <class 'str'>
list 67 is <class 'str'>
list 68 is <class 'str'>
list 69 is <class 'str'>
list 70 is <class 'str'>
list 71 is <class 'str'>
list 72 is <class 'str'>
list 73 is <class 'str'>
list 74 is <class 'str'>
list 75 is <class 'str'>
list 76 is <class 'str'>
list 77 is <class 'str'>
list 78 is <class 'str'>
list 79 is <class 'str'>
list 80 is <class 'str'>
list 81 is <class 'str'>
list 82 is <class 'str'>
list 83 is <class 'str'>
list 84 is <class 'str'>
list 85 is <class 'str'>
list 86 is <class 'str'>
list 87 is <class 'str'>
list 88 is <class 'str'>
list 89 is <class 'str'>
list 90 is <class 'str'>
list 91 is <class 'str'>
list 92 is <class 'str'>
list 93 is <class 'str'>
list 94 is <class 'str'>
list 95 is <class 'str'>
list 96 is <class 'str'>
list 97 is <class 'str'>
list 98 is <class 'str'>
list 99 is <class 'str'>
list 100 is <class 'str'>
list 101 is <class 'str'>
list 102 is <class 'str'>
list 103 is <class 'str'>
list 104 is <class 'str'>
list 105 is <class 'str'>
list 106 is <class 'str'>
list 107 is <class 'str'>
list 108 is <class 'str'>
list 109 is <class 'str'>
list 110 is <class 'str'>
list 111 is <class 'str'>
list 112 is <class 'str'>
list 113 is <class 'str'>
list 114 is <class 'str'>
list 115 is <class 'str'>
list 116 is <class 'str'>
list 117 is <class 'str'>
list 118 is <class 'str'>
list 119 is <class 'str'>
list 120 is <class 'str'>
list 121 is <class 'str'>
list 122 is <class 'str'>
list 123 is <class 'str'>
list 124 is <class 'str'>
list 125 is <class 'str'>
list 126 is <class 'str'>
list 127 is <class 'str'>
list 128 is <class 'str'>
list 129 is <class 'str'>
list 130 is <class 'str'>
list 131 is <class 'str'>
list 132 is <class 'str'>
list 133 is <class 'str'>
list 134 is <class 'str'>
list 135 is <class 'str'>
list 136 is <class 'str'>
list 137 is <class 'str'>
list 138 is <class 'str'>
list 139 is <class 'str'>
list 140 is <class 'str'>
list 141 is <class 'str'>
list 142 is <class 'str'>
list 143 is <class 'str'>
list 144 is <class 'str'>
list 145 is <class 'str'>
list 146 is <class 'str'>
list 147 is <class 'str'>
list 148 is <class 'str'>
list 149 is <class 'str'>
list 150 is <class 'str'>
list 151 is <class 'str'>
list 152 is <class 'str'>
list 153 is <class 'str'>
list 154 is <class 'str'>
list 155 is <class 'str'>
list 156 is <class 'str'>
list 157 is <class 'str'>
list 158 is <class 'str'>
list 159 is <class 'str'>
list 160 is <class 'str'>
list 161 is <class 'str'>
list 162 is <class 'str'>
list 163 is <class 'str'>
list 164 is <class 'str'>
list 165 is <class 'str'>
list 166 is <class 'str'>
list 167 is <class 'str'>
list 168 is <class 'str'>
list 169 is <class 'str'>
list 170 is <class 'str'>
list 171 is <class 'str'>
list 172 is <class 'str'>
list 173 is <class 'str'>
list 174 is <class 'str'>
list 175 is <class 'str'>
list 176 is <class 'str'>
list 177 is <class 'str'>
list 178 is <class 'str'>
list 179 is <class 'str'>
list 180 is <class 'str'>
list 181 is <class 'str'>
list 182 is <class 'str'>
list 183 is <class 'str'>
list 184 is <class 'str'>
list 185 is <class 'str'>
list 186 is <class 'str'>
list 187 is <class 'str'>
list 188 is <class 'str'>
list 189 is <class 'str'>
list 190 is <class 'str'>
list 191 is <class 'str'>
list 192 is <class 'str'>
list 193 is <class 'str'>
list 194 is <class 'str'>
list 195 is <class 'str'>
list 196 is <class 'str'>
list 197 is <class 'str'>
list 198 is <class 'str'>
list 199 is <class 'str'>
list 200 is <class 'str'>
list 201 is <class 'str'>
list 202 is <class 'str'>
list 203 is <class 'str'>
list 204 is <class 'str'>
list 205 is <class 'str'>
list 206 is <class 'str'>
list 207 is <class 'str'>
list 208 is <class 'str'>
list 209 is <class 'str'>
list 210 is <class 'str'>
list 211 is <class 'str'>
list 212 is <class 'str'>
list 213 is <class 'str'>
list 214 is <class 'str'>
list 215 is <class 'str'>
list 216 is <class 'str'>
list 217 is <class 'str'>
list 218 is <class 'str'>
list 219 is <class 'str'>
list 220 is <class 'str'>
list 221 is <class 'str'>
list 222 is <class 'str'>
list 223 is <class 'str'>
list 224 is <class 'str'>
list 225 is <class 'str'>
list 226 is <class 'str'>
list 227 is <class 'str'>
list 228 is <class 'str'>
list 229 is <class 'str'>
list 230 is <class 'str'>
list 231 is <class 'str'>
list 232 is <class 'str'>
list 233 is <class 'str'>
list 234 is <class 'str'>
list 235 is <class 'str'>
list 236 is <class 'str'>
list 237 is <class 'str'>
list 238 is <class 'str'>
list 239 is <class 'str'>
list 240 is <class 'str'>
list 241 is <class 'str'>
list 242 is <class 'str'>
list 243 is <class 'str'>
list 244 is <class 'str'>
list 245 is <class 'str'>
list 246 is <class 'str'>
list 247 is <class 'str'>
list 248 is <class 'str'>
list 249 is <class 'str'>
list 250 is <class 'str'>
list 251 is <class 'str'>
list 252 is <class 'str'>
list 253 is <class 'str'>
list 254 is <class 'str'>
list 255 is <class 'str'>
list 256 is <class 'str'>
list 257 is <class 'str'>
list 258 is <class 'str'>
list 259 is <class 'str'>
list 260 is <class 'str'>
list 261 is <class 'str'>
list 262 is <class 'str'>
list 263 is <class 'str'>
list 264 is <class 'str'>
list 265 is <class 'str'>
list 266 is <class 'str'>
list 267 is <class 'str'>
list 268 is <class 'str'>
list 269 is <class 'str'>
list 270 is <class 'str'>
list 271 is <class 'str'>
list 272 is <class 'str'>
list 273 is <class 'str'>
list 274 is <class 'str'>
list 275 is <class 'str'>
list 276 is <class 'str'>
list 277 is <class 'str'>
list 278 is <class 'str'>
list 279 is <class 'str'>
list 280 is <class 'str'>
list 281 is <class 'str'>
list 282 is <class 'str'>
list 283 is <class 'str'>
list 284 is <class 'str'>
list 285 is <class 'str'>
list 286 is <class 'str'>
list 287 is <class 'str'>
list 288 is <class 'str'>
list 289 is <class 'str'>
list 290 is <class 'str'>
list 291 is <class 'str'>
list 292 is <class 'str'>
list 293 is <class 'str'>
list 294 is <class 'str'>
list 295 is <class 'str'>
list 296 is <class 'str'>
list 297 is <class 'str'>
list 298 is <class 'str'>
list 299 is <class 'str'>
list 300 is <class 'str'>
list 301 is <class 'str'>
list 302 is <class 'str'>
list 303 is <class 'str'>
list 304 is <class 'str'>
list 305 is <class 'str'>
list 306 is <class 'str'>
list 307 is <class 'str'>
list 308 is <class 'str'>
list 309 is <class 'str'>
list 310 is <class 'str'>
list 311 is <class 'str'>
list 312 is <class 'str'>
list 313 is <class 'str'>
list 314 is <class 'str'>
list 315 is <class 'str'>
list 316 is <class 'str'>
list 317 is <class 'str'>
list 318 is <class 'str'>
list 319 is <class 'str'>
list 320 is <class 'str'>
list 321 is <class 'str'>
list 322 is <class 'str'>
list 323 is <class 'str'>
list 324 is <class 'str'>
list 325 is <class 'str'>
list 326 is <class 'str'>
list 327 is <class 'str'>
list 328 is <class 'str'>
list 329 is <class 'str'>
list 330 is <class 'str'>
list 331 is <class 'str'>
list 332 is <class 'str'>
list 333 is <class 'str'>
list 334 is <class 'str'>
list 335 is <class 'str'>
list 336 is <class 'str'>
list 337 is <class 'str'>
list 338 is <class 'str'>
list 339 is <class 'str'>
list 340 is <class 'str'>
list 341 is <class 'str'>
list 342 is <class 'str'>
list 343 is <class 'str'>
list 344 is <class 'str'>
list 345 is <class 'str'>
list 346 is <class 'str'>
list 347 is <class 'str'>

### Attack, Spell Attack, Save DC
Actually, there is some information within these strings we can pull out easily with regex search, match, findall. Let's do that before converting into lists

In [8]:
# Create new columns for features
monster_df = monster_df.assign(Attack_Bonus= '', Spell_Bonus = '', Spell_Save_DC = '')

#Attack Bonus
for indx, action in enumerate(monster_df['Actions']):
    try:
        found = re.search("\+(.+?) to hit", action).group(0)
        monster_df.loc[indx,'Attack_Bonus'] = int(found.split()[0].lstrip('+'))
    except:
        monster_df.loc[indx,'Attack_Bonus'] = 0

#Spell Attack Bonus

for indx, trait in enumerate(monster_df['Traits']):
    try:
        found = re.search("\+(.+?) to hit", trait).group(0)
        monster_df.loc[indx,'Spell_Bonus'] = int(found.split()[0].lstrip('+'))
    except:
        monster_df.loc[indx,'Spell_Bonus'] = 0

#Spell Save DC

for indx, trait in enumerate(monster_df['Traits']):
    try:
        found = re.search("spell save DC [0-9]+", trait).group(0)
        monster_df.loc[indx,'Spell_Save_DC'] = int(found.split()[-1])
    except:
        monster_df.loc[indx,'Spell_Save_DC'] = 0

## Saving Throw Expansion
We want to be able to evaluate Saving Throw Numbers just like we due stats. Some monsters have bonuses to certain saving throws, which we will input first. Then we will use the stats to fill in the rest of the saving throws. Stat numbers have a base relationship to saving throw where every 2 stat increases is +1 into Saving throw. Example, 10 in Strength is a +0 in Str Saving Throw, but a 12 in Strength is a +1, and finally a 20 in Strength is a +5 in Strength saving throw.

In [9]:
monster_df["Saving Throws"] = monster_df['Saving Throws'].apply(clean_list)

#turn saving throw feature values into lists using literal_eval
monster_df["Saving Throws"] = monster_df["Saving Throws"].apply(ast.literal_eval)

#Saving Throw Exapanded features
saving_throw_df = pd.DataFrame(columns={"STR_SV","DEX_SV","CON_SV","INT_SV","WIS_SV","CHA_SV"})

for indx, saving_throw in enumerate(monster_df['Saving Throws']): 
    for string in saving_throw:
        if "DEX" in string:
            saving_throw_df.loc[indx,"DEX_SV"] = int(string.split()[1].lstrip('+'))
        elif "CON" in string:
            saving_throw_df.loc[indx,"CON_SV"] = int(string.split()[1].lstrip('+'))
        elif "STR" in string:
            saving_throw_df.loc[indx,"STR_SV"] = int(string.split()[1].lstrip('+'))
        elif "WIS" in string:
            saving_throw_df.loc[indx,"WIS_SV"] = int(string.split()[1].lstrip('+'))
        elif "INT" in string:
            saving_throw_df.loc[indx,"INT_SV"] = int(string.split()[1].lstrip('+'))
        elif "CHA" in string:
            saving_throw_df.loc[indx,"CHA_SV"] = int(string.split()[1].lstrip('+'))
            
monster_df = pd.concat([monster_df,saving_throw_df], axis=1)

In [10]:
#Using Stats to fill in missing saving throws
stat_modifiers ={('1') : -5, ('2','3') : -4, ('4','5') : -3, ('6','7') : -2, ('8','9') : -1, ('10','11') : 0, ('12','13') : 1, ('14','15') : 2, ('16','17') : 3, ('18','19') : 4, 
('20','21') : 5, ('22','23') : 6, ('24','25') : 7, ('26','27') : 8, ('28','29') : 9, ('30') : 10}

for clms in monster_df.iloc[:,29:34]:
    monster_stat = clms.split('_')[0]
    for indx, value in enumerate(monster_df[clms]):
        if math.isnan(value):
            for stat_num, modifier in stat_modifiers.items():
               if str(monster_df.loc[indx,monster_stat]) in stat_num:
                    monster_df.loc[indx,clms] = modifier

In [11]:

#evaluate string and turn into lists
column_lists = ["Environment", "Reactions", "Actions", "Legendary Actions"]
for columns in column_lists:
    monster_df[columns] = monster_df[columns].apply(ast.literal_eval)
            
#"Damage Resistances","Damage Vulnerabilities", "Damage Immunities", have wonky typing due to semicolon
# Traits, Condition immunities, saving throws create type error

#check that they are lists
for i,j in enumerate(monster_df["Environment"]):
   print("list",i,"is",type(j))

#create dummy variables for envinroment, which includes the list for variables
dummies = pd.get_dummies(monster_df['Environment'].explode()).reset_index().groupby(['index']).sum()
monster_df = pd.concat([monster_df,dummies], axis=1)

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>
list 48 is <class 'list'>
list 49 is <class 'list'>
list 50 is <class 'list'>
list 51 is <class 'list'>
list 52 is <class 'list'>
list 53 is <class 'list'>
list 54 is <class 'list'>
list 55 is <class 'list'>
list 56 is <class 'list'>
list 57 is <class 'list'>
list 58 is <class 'list'>
list 59 is <class 'list'>
list 60 is <class 'list'>
list 61 is <class 'list'>
list 62 is <class 'list'>
list 63 is <class 'list'>
list 64 is <class 'list'>
list 65 is <class 'list'>
list 66 is <class 'list'>
list 67 is <class 'list'>
list 68 is <class 'list'>
list 69 is <class 'list'>
list 70 is <class 'list'>
list 71 is <class 'list'>
list 72 is <class 'list'>
list 73 is <class 'list'>
list 74 is <class 'list'>
list 75 is <class 'list'>
list 76 is <class 'list'>
list 77 is <class 'list'>
list 78 is <class 'list'>
list 79 is <class 'list'>
list 80 is <class 'list'>
list 81 is <class 'list'>
list 82 is <class 'list'>
list 83 is <class 'list'>
list 84 is <class 'list'>
list 85 is <class 'list'>
list 86 is <class 'list'>
list 87 is <class 'list'>
list 88 is <class 'list'>
list 89 is <class 'list'>
list 90 is <class 'list'>
list 91 is <class 'list'>
list 92 is <class 'list'>
list 93 is <class 'list'>
list 94 is <class 'list'>
list 95 is <class 'list'>
list 96 is <class 'list'>
list 97 is <class 'list'>
list 98 is <class 'list'>
list 99 is <class 'list'>
list 100 is <class 'list'>
list 101 is <class 'list'>
list 102 is <class 'list'>
list 103 is <class 'list'>
list 104 is <class 'list'>
list 105 is <class 'list'>
list 106 is <class 'list'>
list 107 is <class 'list'>
list 108 is <class 'list'>
list 109 is <class 'list'>
list 110 is <class 'list'>
list 111 is <class 'list'>
list 112 is <class 'list'>
list 113 is <class 'list'>
list 114 is <class 'list'>
list 115 is <class 'list'>
list 116 is <class 'list'>
list 117 is <class 'list'>
list 118 is <class 'list'>
list 119 is <class 'list'>
list 120 is <class 'list'>
list 121 is <class 'list'>
list 122 is <class 'list'>
list 123 is <class 'list'>
list 124 is <class 'list'>
list 125 is <class 'list'>
list 126 is <class 'list'>
list 127 is <class 'list'>
list 128 is <class 'list'>
list 129 is <class 'list'>
list 130 is <class 'list'>
list 131 is <class 'list'>
list 132 is <class 'list'>
list 133 is <class 'list'>
list 134 is <class 'list'>
list 135 is <class 'list'>
list 136 is <class 'list'>
list 137 is <class 'list'>
list 138 is <class 'list'>
list 139 is <class 'list'>
list 140 is <class 'list'>
list 141 is <class 'list'>
list 142 is <class 'list'>
list 143 is <class 'list'>
list 144 is <class 'list'>
list 145 is <class 'list'>
list 146 is <class 'list'>
list 147 is <class 'list'>
list 148 is <class 'list'>
list 149 is <class 'list'>
list 150 is <class 'list'>
list 151 is <class 'list'>
list 152 is <class 'list'>
list 153 is <class 'list'>
list 154 is <class 'list'>
list 155 is <class 'list'>
list 156 is <class 'list'>
list 157 is <class 'list'>
list 158 is <class 'list'>
list 159 is <class 'list'>
list 160 is <class 'list'>
list 161 is <class 'list'>
list 162 is <class 'list'>
list 163 is <class 'list'>
list 164 is <class 'list'>
list 165 is <class 'list'>
list 166 is <class 'list'>
list 167 is <class 'list'>
list 168 is <class 'list'>
list 169 is <class 'list'>
list 170 is <class 'list'>
list 171 is <class 'list'>
list 172 is <class 'list'>
list 173 is <class 'list'>
list 174 is <class 'list'>
list 175 is <class 'list'>
list 176 is <class 'list'>
list 177 is <class 'list'>
list 178 is <class 'list'>
list 179 is <class 'list'>
list 180 is <class 'list'>
list 181 is <class 'list'>
list 182 is <class 'list'>
list 183 is <class 'list'>
list 184 is <class 'list'>
list 185 is <class 'list'>
list 186 is <class 'list'>
list 187 is <class 'list'>
list 188 is <class 'list'>
list 189 is <class 'list'>
list 190 is <class 'list'>
list 191 is <class 'list'>
list 192 is <class 'list'>
list 193 is <class 'list'>
list 194 is <class 'list'>
list 195 is <class 'list'>
list 196 is <class 'list'>
list 197 is <class 'list'>
list 198 is <class 'list'>
list 199 is <class 'list'>
list 200 is <class 'list'>
list 201 is <class 'list'>
list 202 is <class 'list'>
list 203 is <class 'list'>
list 204 is <class 'list'>
list 205 is <class 'list'>
list 206 is <class 'list'>
list 207 is <class 'list'>
list 208 is <class 'list'>
list 209 is <class 'list'>
list 210 is <class 'list'>
list 211 is <class 'list'>
list 212 is <class 'list'>
list 213 is <class 'list'>
list 214 is <class 'list'>
list 215 is <class 'list'>
list 216 is <class 'list'>
list 217 is <class 'list'>
list 218 is <class 'list'>
list 219 is <class 'list'>
list 220 is <class 'list'>
list 221 is <class 'list'>
list 222 is <class 'list'>
list 223 is <class 'list'>
list 224 is <class 'list'>
list 225 is <class 'list'>
list 226 is <class 'list'>
list 227 is <class 'list'>
list 228 is <class 'list'>
list 229 is <class 'list'>
list 230 is <class 'list'>
list 231 is <class 'list'>
list 232 is <class 'list'>
list 233 is <class 'list'>
list 234 is <class 'list'>
list 235 is <class 'list'>
list 236 is <class 'list'>
list 237 is <class 'list'>
list 238 is <class 'list'>
list 239 is <class 'list'>
list 240 is <class 'list'>
list 241 is <class 'list'>
list 242 is <class 'list'>
list 243 is <class 'list'>
list 244 is <class 'list'>
list 245 is <class 'list'>
list 246 is <class 'list'>
list 247 is <class 'list'>
list 248 is <class 'list'>
list 249 is <class 'list'>
list 250 is <class 'list'>
list 251 is <class 'list'>
list 252 is <class 'list'>
list 253 is <class 'list'>
list 254 is <class 'list'>
list 255 is <class 'list'>
list 256 is <class 'list'>
list 257 is <class 'list'>
list 258 is <class 'list'>
list 259 is <class 'list'>
list 260 is <class 'list'>
list 261 is <class 'list'>
list 262 is <class 'list'>
list 263 is <class 'list'>
list 264 is <class 'list'>
list 265 is <class 'list'>
list 266 is <class 'list'>
list 267 is <class 'list'>
list 268 is <class 'list'>
list 269 is <class 'list'>
list 270 is <class 'list'>
list 271 is <class 'list'>
list 272 is <class 'list'>
list 273 is <class 'list'>
list 274 is <class 'list'>
list 275 is <class 'list'>
list 276 is <class 'list'>
list 277 is <class 'list'>
list 278 is <class 'list'>
list 279 is <class 'list'>
list 280 is <class 'list'>
list 281 is <class 'list'>
list 282 is <class 'list'>
list 283 is <class 'list'>
list 284 is <class 'list'>
list 285 is <class 'list'>
list 286 is <class 'list'>
list 287 is <class 'list'>
list 288 is <class 'list'>
list 289 is <class 'list'>
list 290 is <class 'list'>
list 291 is <class 'list'>
list 292 is <class 'list'>
list 293 is <class 'list'>
list 294 is <class 'list'>
list 295 is <class 'list'>
list 296 is <class 'list'>
list 297 is <class 'list'>
list 298 is <class 'list'>
list 299 is <class 'list'>
list 300 is <class 'list'>
list 301 is <class 'list'>
list 302 is <class 'list'>
list 303 is <class 'list'>
list 304 is <class 'list'>
list 305 is <class 'list'>
list 306 is <class 'list'>
list 307 is <class 'list'>
list 308 is <class 'list'>
list 309 is <class 'list'>
list 310 is <class 'list'>
list 311 is <class 'list'>
list 312 is <class 'list'>
list 313 is <class 'list'>
list 314 is <class 'list'>
list 315 is <class 'list'>
list 316 is <class 'list'>
list 317 is <class 'list'>
list 318 is <class 'list'>
list 319 is <class 'list'>
list 320 is <class 'list'>
list 321 is <class 'list'>
list 322 is <class 'list'>
list 323 is <class 'list'>
list 324 is <class 'list'>
list 325 is <class 'list'>
list 326 is <class 'list'>
list 327 is <class 'list'>
list 328 is <class 'list'>
list 329 is <class 'list'>
list 330 is <class 'list'>
list 331 is <class 'list'>
list 332 is <class 'list'>
list 333 is <class 'list'>
list 334 is <class 'list'>
list 335 is <class 'list'>
list 336 is <class 'list'>
list 337 is <class 'list'>
list 338 is <class 'list'>
list 339 is <class 'list'>
list 340 is <class 'list'>
list 341 is <class 'list'>
list 342 is <class 'list'>
list 343 is <class 'list'>
list 344 is <class 'list'>
list 345 is <class 'list'>
list 346 is <class 'list'>
list 347 is <class 'list'>

## Actions: Damage
While there is a ton of information in Actions that we may use for word clouds later, the most critical thing for our MVP is trying to pull out the potential damage of the monsters. This is difficult since monsters are so diverse, some have multiattack, which could mean many different things, some have spells, which we don't immediatelly have the damage for, some do secondary damage upon a failed saving throw. So distilling this down into a simple X damage per round will prove difficult. 

First, we can see that regular attacks follow a pattern of 'Hit: XX (XdX + X) """ """ damage.' This is important because we can pull out the average damage and use it for the monster. I'm thinking we may need to make a seperate dataframe to work with this information to start.

In [42]:
monster_actions = monster_df[['Monster Name', 'Actions']]

#Find out max number of attacks is 10
max_attacks = monster_actions['Actions'].explode()
max_attacks.groupby(max_attacks.index).count().max()

#Create 10 columns to work through attacks individually
monster_actions = monster_actions.assign(Attack_1 = "", Attack_2 = "",  Attack_3 = "", Attack_4 = "", Attack_5 = "", Attack_6 = "", Attack_7 = "", Attack_8 = "", Attack_9 = "", Attack_10 = "")

for indx,actions in enumerate(monster_actions['Actions']):
    n = 0
    for action in actions:
        monster_actions.iloc[indx, n+2] = action
        n+=1
        
monster_actions.drop("Actions", inplace=True, axis=1)

In [63]:
#update column to show dictionary of types and number of attacks for multiattacks

def MultiAttackSearch(attack_value, search, replaced, replace, split):
    multiattack = re.search(search, attack_value).group(1)
    multiattack = multiattack.replace(replaced,replace)
    multiattack = re.split(split, multiattack)
    for indx1, item in enumerate(multiattack):
        if item !=" ":
            MA_number = {}
            multiattack[indx1] = item.split()
            value, key = multiattack[indx1][0], multiattack[indx1][1]
            MA_number[key] = w2n.word_to_num(value)
            multiattack[indx1] = MA_number
    return multiattack

for indx, attack in enumerate(monster_actions["Attack_1"]):
        if "Multiattack" in attack:
            if ": " in attack:
                 monster_actions.loc[indx,"Attack_1"] = MultiAttackSearch(attack,"\: (.*?)\.", " with its "," ",'and |,')
            elif ("makes " in attack) and ("1d4" not in attack) and ("either" not in attack) and ("as" not in attack):   
                multiattack = re.search("makes (.*?) ", attack).group(1)
                multiattack = multiattack.replace("makes ","")
                multiattack = w2n.word_to_num(multiattack)
                MA_number = {}
                value, key = multiattack, "Attack"
                MA_number[key] = value
                Monster_list = []
                Monster_list.append(MA_number)
                monster_actions.loc[indx,"Attack_1"] = Monster_list
            elif ("medusa" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'snake hair':1},{'shortsword':2}]
            elif ("drider" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'longsword':3}]
            elif ("flameskull" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'Fire Ray':2}]
            elif ("oni" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'Glaive':2}]
            elif ("fungus" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Rotting Touch": 4}]
            elif ("hydra" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Bite": 5}]
            elif ("assassin" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Bite": 5}]
            elif ("rakshasa" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Bite": 5}]
            elif ("veteran" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"longsword": 2},{"shortsword":1}]


            #     int(attack.split('.')[1].split("uses")[1].split())
            #     flame1 = re.sub('[^a-zA-Z0-9 \n\.]', '', str(flame[0:2]))
            #     value,key = 2,flame1
            #     MA_number = {}
            #     MA_number[key] = value
            #     print(MA_number)

In [40]:
#replace "Hit:" attacks with just damage and bonus damage such as extra lightning damage
for col in monster_actions.iloc[:,1:11]:
    for indx, attack in enumerate(monster_actions[col]):
        try:
            if "plus" in attack:
                ext_damage = int(re.search("plus (.+?) ", attack).group(1))
                if "Hit:" in attack:
                    prim_damage = int(re.search("Hit: (.+?) ", attack).group(1))
                elif "taking" and "damage" in attack:
                    prim_damage =  re.search("taking (.+?) ", attack).group(1)
                elif "target takes" and "damage" in attack:
                    prim_damage =  re.search("takes [0-9]+ ", attack).group(0).split()[1]
                elif "if the creature takes damage" or "deals damage" in attack:
                    prim_damage =  0
                elif "creature takes" and "damage" in attack:
                    prim_damage =  re.search("takes [0-9]+ ", attack).group(0).split()[1]
                monster_actions.loc[indx,col] = prim_damage + ext_damage
            else:
                if "Hit:" in attack:
                    monster_actions.loc[indx,col] = re.search("Hit: (.+?) ", attack).group(1)
                elif "taking" and "damage" in attack:
                    monster_actions.loc[indx,col] = re.search("taking (.+?) ", attack).group(1)
                elif "target takes" and "damage" in attack:
                    monster_actions.loc[indx,col] = re.search("takes [0-9]+ ", attack).group(0).split()[1]
                elif "if the creature takes damage" or "deals damage" in attack:
                    monster_actions.loc[indx,col] = 0
                elif "creature takes" and "damage" in attack:
                    monster_actions.loc[indx,col] = re.search("takes [0-9]+ ", attack).group(0).split()[1]
        except:
            continue

In [66]:
monster_actions

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Attack_9,Attack_10
0,Adult Green Dragon,"[{'bite': 1}, {'claws': 2}]","Bite. Melee Weapon Attack: +11 to hit, reach 1...","Claw. Melee Weapon Attack: +11 to hit, reach 5...","Tail. Melee Weapon Attack: +11 to hit, reach 1...",Frightful Presence. Each creature of the drago...,Poison Breath (Recharge 5â€“6). The dragon exhal...,,,,
1,Adult Silver Dragon,"[{'bite': 1}, {'claws': 2}]","Bite. Melee Weapon Attack: +13 to hit, reach 1...","Claw. Melee Weapon Attack: +13 to hit, reach 5...","Tail. Melee Weapon Attack: +13 to hit, reach 1...",Frightful Presence. Each creature of the drago...,Breath Weapons (Recharge 5â€“6). The dragon uses...,Cold Breath. The dragon exhales an icy blast i...,Paralyzing Breath. The dragon exhales paralyzi...,Change Shape. The dragon magically polymorphs ...,"In a new form, the dragon retains its alignmen..."
2,Adult White Dragon,"[{'bite': 1}, {'claws': 2}]","Bite. Melee Weapon Attack: +11 to hit, reach 1...","Claw. Melee Weapon Attack: +11 to hit, reach 5...","Tail. Melee Weapon Attack: +11 to hit, reach 1...",Frightful Presence. Each creature of the drago...,Cold Breath (Recharge 5â€“6). The dragon exhales...,,,,
3,Air Elemental,[{'Attack': 2}],"Slam. Melee Weapon Attack: +8 to hit, reach 5 ...",Whirlwind (Recharge 4â€“6). Each creature in the...,"If the saving throw is successful, the target ...",,,,,,
4,Ape,[{'Attack': 2}],"Fist. Melee Weapon Attack: +5 to hit, reach 5 ...","Rock. Ranged Weapon Attack: +5 to hit, range 2...",,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...
343,Wyvern,"[{'bite': 1}, {'stinger': 1}]","Bite. Melee Weapon Attack: +7 to hit, reach 10...","Claws. Melee Weapon Attack: +7 to hit, reach 5...","Stinger. Melee Weapon Attack: +7 to hit, reach...",,,,,,
344,Zombie,"Slam. Melee Weapon Attack: +3 to hit, reach 5 ...",,,,,,,,,
345,Commoner,"Club. Melee Weapon Attack: +2 to hit, reach 5 ...",,,,,,,,,
346,Giant Owl,"Talons. Melee Weapon Attack: +3 to hit, reach ...",,,,,,,,,
347,Glabrezu,"[{'pincers': 2}, {'fists': 2}]","Pincer. Melee Weapon Attack: +9 to hit, reach ...","Fist. Melee Weapon Attack: +9 to hit, reach 5 ...",,,,,,,

In [ ]:
#find the phrase that dictates multiattacks
for indx, attack in enumerate(monster_actions["Attack_1"]):
    try:
        if "Multiattack" in attack:
           # print(re.search("makes (.+?) ", attack).group(1))

        continue

In [30]:
#max number of unique attacks are 4 from the tarrasque
monster_actions['Attack_1']

0      0
1      0
2      0
3      0
4      0
      ..
343    0
344    4
345    2
346    8
347    0
Name: Attack_1, Length: 348, dtype: object

In [ ]:
monster_multiattack = monster_actions[monster_actions['Attack_1'].str.contains("Multiattack")==True]

In [ ]:
monster_multiattack[monster_multiattack['Attack_1'].str.contains(": ")].describe()

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Attack_9,Attack_10
count,79,79,79,79,79,79,79,79,79,79,79
unique,79,49,73,58,41,25,23,14,12,2,2
top,Adult Green Dragon,Multiattack. The dragon can use its Frightful ...,"Bite. Melee Weapon Attack: +6 to hit, reach 5 ...","Claw. Melee Weapon Attack: +7 to hit, reach 5 ...",,,,,,,
freq,1,20,2,7,23,43,49,66,68,71,71

In [ ]:
#replace "Hit:" attacks with just damage and bonus damage such as extra lightning damage
for col in monster_multiattack.iloc[:,1:11]:
    for indx, attack in enumerate(monster_actions[col]):
        try:
            if "Hit: " in attack:
                ext_damage = int(re.search("plus (.+?) ", attack).group(1))

SyntaxError: expected 'except' or 'finally' block (283256201.py, line 6)

In [32]:
monster_actions[monster_actions['Attack_1'].str.contains("Multiattack")==True].describe()
# 150 monsters have multiattack FML

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Attack_9,Attack_10
count,0,0,0,0,0,0,0,0,0,0,0
unique,0,0,0,0,0,0,0,0,0,0,0
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
monster_actions[monster_actions['Attack_2'].str.contains("damage")==True]

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Attack_9,Attack_10
12,Bulette,30,Deadly Leap. If the bulette jumps at least 15 ...,0,0,0,0,0,0,0,0
251,Giant Toad,12,Swallow. The toad makes one bite attack agains...,0,0,0,0,0,0,0,0
302,Giant Frog,4,Swallow. The frog makes one bite attack agains...,0,0,0,0,0,0,0,0
314,Old Croaker,12,Swallow. The toad makes one bite attack agains...,0,0,0,0,0,0,0,0
340,Remorhaz,50,Swallow. The remorhaz makes one bite attack ag...,If the remorhaz takes 30 damage or more on a s...,0,0,0,0,0,0,0

In [ ]:
for col in monster_actions.iloc[:,1:11]:
    for indx, attack in enumerate(monster_actions[col]):
        try:
            if ("target takes" or "creature takes" or "it takes") and "damage" in attack:
                print(re.search("takes [0-9]+ ", attack).group(0).split()[1], monster_actions.loc[indx,"Monster Name"])
        except:
            continue

10 Giant Toad
5 Giant Frog
10 Old Croaker
21 Remorhaz
15 Air Elemental
13 Water Elemental
15 Dust Devil
30 Purple Worm
10 Banshee
50 Kraken
30 Remorhaz
10 Gelatinous Cube
5 Vrock
3 Kraken
21 Behir
44 Androsphinx
30 Behir
56 Tarrasque
60 Tarrasque

In [36]:
monster_actions

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Attack_9,Attack_10
0,Adult Green Dragon,0,24,13,15,0,56,0,0,0,0
1,Adult Silver Dragon,0,19,15,17,0,0,58,0,0,0
2,Adult White Dragon,0,21,13,15,0,54,0,0,0,0
3,Air Elemental,0,14,Whirlwind (Recharge 4â€“6). Each creature in the...,"If the saving throw is successful, the target ...",0,0,0,0,0,0
4,Ape,0,6,6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
343,Wyvern,0,11,13,11,0,0,0,0,0,0
344,Zombie,4,0,0,0,0,0,0,0,0,0
345,Commoner,2,0,0,0,0,0,0,0,0,0
346,Giant Owl,8,0,0,0,0,0,0,0,0,0
347,Glabrezu,0,16,7,0,0,0,0,0,0,0