# DnD Monster Data Wrangling

## Importation

In [198]:
import math
import numpy as np
import pandas as pd
import ast
import re
from src.features.build_features import clean_list
from word2number import w2n


monster_df = pd.read_csv('../data/raw/Monster_Data_RAW.csv')

monster_df.head()

,Unnamed: 0,Monster Name,Size,Type,Alignment,Traits,Damage Resistances,Monster Tags:,Mythic Actions,Reactions,...,Proficiency Bonus,STR,DEX,CON,INT,WIS,CHA,Actions,Legendary Actions,Environment:
0,0,Adult Green Dragon,Huge,['dragon'],lawful evil,['Amphibious. The dragon can breathe air and w...,NaN,NaN,NaN,NaN,...,5,23,12,21,18,15,17,['Multiattack. The dragon can use its Frightfu...,"[""The dragon can take 3 legendary actions, cho...",['Forest']
1,1,Adult Silver Dragon,Huge,['dragon'],lawful good,['Legendary Resistance (3/Day). If the dragon ...,NaN,NaN,NaN,NaN,...,5,27,10,25,16,13,21,['Multiattack. The dragon can use its Frightfu...,"[""The dragon can take 3 legendary actions, cho...","['Mountain', 'Urban']"
2,2,Adult White Dragon,Huge,['dragon'],chaotic evil,"[""Ice Walk. The dragon can move across and cli...",NaN,NaN,NaN,NaN,...,5,22,10,22,8,12,12,['Multiattack. The dragon can use its Frightfu...,"[""The dragon can take 3 legendary actions, cho...",['Arctic']
3,3,Air Elemental,Large,['elemental'],neutral,"[""Air Form. The elemental can enter a hostile ...","Lightning, Thunder; Bludgeoning, Piercing, and...",NaN,NaN,NaN,...,3,14,20,14,6,10,6,['Multiattack. The elemental makes two slam at...,NaN,"['Desert', 'Mountain']"
4,4,Ape,Medium,['beast'],unaligned,[nan],NaN,['Misc Creature'],NaN,NaN,...,2,16,14,14,6,12,7,['Multiattack. The ape makes two fist attacks....,NaN,['Forest']

## Performing the Basic Cleanup
Removing columns we won't use, cleanining up feature titles, and checking out our dataset for datatypes and issues.

We know that Mythic Actions weren't introducted until a later version, so no monsters contain this category.

Unnamed:0 is useless, Monster Tags: is the same as Monster type (with a bit more specificity, which we don't need.)

Skills, Source, Launguages, and Senses are all unecessary for our MVP.

In [199]:
monster_df.drop(columns = {'Unnamed: 0', 'Mythic Actions', 'Monster Tags:', "Skills", 'Source', 'Languages', "Senses"}, inplace = True, axis = 1)
monster_df.rename(columns = {"Environment:":"Environment"}, inplace=True)

In [200]:
print(monster_df.columns)
print(monster_df.describe())

Index(['Monster Name', 'Size', 'Type', 'Alignment', 'Traits',
       'Damage Resistances', 'Reactions', 'Armor Class', 'Hit Points', 'Speed',
       'Saving Throws', 'Damage Vulnerabilities', 'Damage Immunities',
       'Condition Immunities', 'Challenge', 'Proficiency Bonus', 'STR', 'DEX',
       'CON', 'INT', 'WIS', 'CHA', 'Actions', 'Legendary Actions',
       'Environment'],
      dtype='object')
       Armor Class  Hit Points  Proficiency Bonus         STR         DEX  \
count   348.000000  348.000000         348.000000  348.000000  348.000000
mean     13.985632   78.399425           2.712644   14.951149   12.706897
std       3.155403   96.670352           1.296486    6.705018    3.078279
min       5.000000    1.000000           2.000000    1.000000    1.000000
25%      12.000000   17.000000           2.000000   11.000000   10.000000
50%      13.000000   45.000000           2.000000   16.000000   13.000000
75%      16.000000  110.000000           3.000000   19.000000   15.000000
max      25.000000  676.000000           9.000000   30.000000   22.000000

              CON         INT         WIS         CHA
count  348.000000  348.000000  348.000000  348.000000
mean    14.991379    7.683908   11.606322    9.548851
std      4.385913    5.673953    2.896418    5.780861
min      8.000000    1.000000    3.000000    1.000000
25%     12.000000    2.000000   10.000000    5.000000
50%     14.000000    7.000000   11.500000    8.000000
75%     17.000000   12.000000   13.000000   14.000000
max     30.000000   25.000000   25.000000   30.000000

## Challenge Rating (CR)
Currently Challenge Rating is a string, we want it to be an integer so we can use it. We need to remove the experience string attached and convert.

In [201]:
#split the string and only take the first part (Challenge Rating)
monster_df["Challenge"] = monster_df["Challenge"].str.split().str[0]

#turn fraction strings into floats
for indx, challenge in enumerate(monster_df["Challenge"]):
    if "/" in challenge:
       monster_df.loc[indx,'Challenge'] = pd.eval(challenge)
    else:
        monster_df.loc[indx,'Challenge'] = pd.to_numeric(challenge)

monster_df["Challenge"] = pd.to_numeric(monster_df["Challenge"])

## Monster Type
There are a large number of monster sub-types, this is unecessary for our analysis. we want to consolidate.

In [202]:
for indx,Type in enumerate(monster_df['Type']):
    monster_df.loc[indx,"Type"] = Type.split(",")[0].strip("[']")

## Missing Values

All features with missing values make sense esxcept Actions, which I would have assumed every creature has an action, that may not be the case however. For the others, they are all optional features that lower level monsters won't have.

The NAs may still cause issues down the road, so I will replace them all with a string text like "NA"

In [203]:
monster_df.isna().any()

monster_df.fillna("['NA']",inplace=True)

## List Values
We current have features where the values are varying list of items. For example, a monster may be found in more than one environment such as [mountain, coastal, underdark]. Unfortuntaly, they are reading as strings right now so we will need to convert them to lists for easy of use.

In [204]:
#All lists columns are actually strings!
for i,j in enumerate(monster_df["Environment"]):
   print("list",i,"is",type(j))

list 0 is <class 'str'>
list 1 is <class 'str'>
list 2 is <class 'str'>
list 3 is <class 'str'>
list 4 is <class 'str'>
list 5 is <class 'str'>
list 6 is <class 'str'>
list 7 is <class 'str'>
list 8 is <class 'str'>
list 9 is <class 'str'>
list 10 is <class 'str'>
list 11 is <class 'str'>
list 12 is <class 'str'>
list 13 is <class 'str'>
list 14 is <class 'str'>
list 15 is <class 'str'>
list 16 is <class 'str'>
list 17 is <class 'str'>
list 18 is <class 'str'>
list 19 is <class 'str'>
list 20 is <class 'str'>
list 21 is <class 'str'>
list 22 is <class 'str'>
list 23 is <class 'str'>
list 24 is <class 'str'>
list 25 is <class 'str'>
list 26 is <class 'str'>
list 27 is <class 'str'>
list 28 is <class 'str'>
list 29 is <class 'str'>
list 30 is <class 'str'>
list 31 is <class 'str'>
list 32 is <class 'str'>
list 33 is <class 'str'>
list 34 is <class 'str'>
list 35 is <class 'str'>
list 36 is <class 'str'>
list 37 is <class 'str'>
list 38 is <class 'str'>
list 39 is <class 'str'>
list 40 is <class 'str'>
list 41 is <class 'str'>
list 42 is <class 'str'>
list 43 is <class 'str'>
list 44 is <class 'str'>
list 45 is <class 'str'>
list 46 is <class 'str'>
list 47 is <class 'str'>
list 48 is <class 'str'>
list 49 is <class 'str'>
list 50 is <class 'str'>
list 51 is <class 'str'>
list 52 is <class 'str'>
list 53 is <class 'str'>
list 54 is <class 'str'>
list 55 is <class 'str'>
list 56 is <class 'str'>
list 57 is <class 'str'>
list 58 is <class 'str'>
list 59 is <class 'str'>
list 60 is <class 'str'>
list 61 is <class 'str'>
list 62 is <class 'str'>
list 63 is <class 'str'>
list 64 is <class 'str'>
list 65 is <class 'str'>
list 66 is <class 'str'>
list 67 is <class 'str'>
list 68 is <class 'str'>
list 69 is <class 'str'>
list 70 is <class 'str'>
list 71 is <class 'str'>
list 72 is <class 'str'>
list 73 is <class 'str'>
list 74 is <class 'str'>
list 75 is <class 'str'>
list 76 is <class 'str'>
list 77 is <class 'str'>
list 78 is <class 'str'>
list 79 is <class 'str'>
list 80 is <class 'str'>
list 81 is <class 'str'>
list 82 is <class 'str'>
list 83 is <class 'str'>
list 84 is <class 'str'>
list 85 is <class 'str'>
list 86 is <class 'str'>
list 87 is <class 'str'>
list 88 is <class 'str'>
list 89 is <class 'str'>
list 90 is <class 'str'>
list 91 is <class 'str'>
list 92 is <class 'str'>
list 93 is <class 'str'>
list 94 is <class 'str'>
list 95 is <class 'str'>
list 96 is <class 'str'>
list 97 is <class 'str'>
list 98 is <class 'str'>
list 99 is <class 'str'>
list 100 is <class 'str'>
list 101 is <class 'str'>
list 102 is <class 'str'>
list 103 is <class 'str'>
list 104 is <class 'str'>
list 105 is <class 'str'>
list 106 is <class 'str'>
list 107 is <class 'str'>
list 108 is <class 'str'>
list 109 is <class 'str'>
list 110 is <class 'str'>
list 111 is <class 'str'>
list 112 is <class 'str'>
list 113 is <class 'str'>
list 114 is <class 'str'>
list 115 is <class 'str'>
list 116 is <class 'str'>
list 117 is <class 'str'>
list 118 is <class 'str'>
list 119 is <class 'str'>
list 120 is <class 'str'>
list 121 is <class 'str'>
list 122 is <class 'str'>
list 123 is <class 'str'>
list 124 is <class 'str'>
list 125 is <class 'str'>
list 126 is <class 'str'>
list 127 is <class 'str'>
list 128 is <class 'str'>
list 129 is <class 'str'>
list 130 is <class 'str'>
list 131 is <class 'str'>
list 132 is <class 'str'>
list 133 is <class 'str'>
list 134 is <class 'str'>
list 135 is <class 'str'>
list 136 is <class 'str'>
list 137 is <class 'str'>
list 138 is <class 'str'>
list 139 is <class 'str'>
list 140 is <class 'str'>
list 141 is <class 'str'>
list 142 is <class 'str'>
list 143 is <class 'str'>
list 144 is <class 'str'>
list 145 is <class 'str'>
list 146 is <class 'str'>
list 147 is <class 'str'>
list 148 is <class 'str'>
list 149 is <class 'str'>
list 150 is <class 'str'>
list 151 is <class 'str'>
list 152 is <class 'str'>
list 153 is <class 'str'>
list 154 is <class 'str'>
list 155 is <class 'str'>
list 156 is <class 'str'>
list 157 is <class 'str'>
list 158 is <class 'str'>
list 159 is <class 'str'>
list 160 is <class 'str'>
list 161 is <class 'str'>
list 162 is <class 'str'>
list 163 is <class 'str'>
list 164 is <class 'str'>
list 165 is <class 'str'>
list 166 is <class 'str'>
list 167 is <class 'str'>
list 168 is <class 'str'>
list 169 is <class 'str'>
list 170 is <class 'str'>
list 171 is <class 'str'>
list 172 is <class 'str'>
list 173 is <class 'str'>
list 174 is <class 'str'>
list 175 is <class 'str'>
list 176 is <class 'str'>
list 177 is <class 'str'>
list 178 is <class 'str'>
list 179 is <class 'str'>
list 180 is <class 'str'>
list 181 is <class 'str'>
list 182 is <class 'str'>
list 183 is <class 'str'>
list 184 is <class 'str'>
list 185 is <class 'str'>
list 186 is <class 'str'>
list 187 is <class 'str'>
list 188 is <class 'str'>
list 189 is <class 'str'>
list 190 is <class 'str'>
list 191 is <class 'str'>
list 192 is <class 'str'>
list 193 is <class 'str'>
list 194 is <class 'str'>
list 195 is <class 'str'>
list 196 is <class 'str'>
list 197 is <class 'str'>
list 198 is <class 'str'>
list 199 is <class 'str'>
list 200 is <class 'str'>
list 201 is <class 'str'>
list 202 is <class 'str'>
list 203 is <class 'str'>
list 204 is <class 'str'>
list 205 is <class 'str'>
list 206 is <class 'str'>
list 207 is <class 'str'>
list 208 is <class 'str'>
list 209 is <class 'str'>
list 210 is <class 'str'>
list 211 is <class 'str'>
list 212 is <class 'str'>
list 213 is <class 'str'>
list 214 is <class 'str'>
list 215 is <class 'str'>
list 216 is <class 'str'>
list 217 is <class 'str'>
list 218 is <class 'str'>
list 219 is <class 'str'>
list 220 is <class 'str'>
list 221 is <class 'str'>
list 222 is <class 'str'>
list 223 is <class 'str'>
list 224 is <class 'str'>
list 225 is <class 'str'>
list 226 is <class 'str'>
list 227 is <class 'str'>
list 228 is <class 'str'>
list 229 is <class 'str'>
list 230 is <class 'str'>
list 231 is <class 'str'>
list 232 is <class 'str'>
list 233 is <class 'str'>
list 234 is <class 'str'>
list 235 is <class 'str'>
list 236 is <class 'str'>
list 237 is <class 'str'>
list 238 is <class 'str'>
list 239 is <class 'str'>
list 240 is <class 'str'>
list 241 is <class 'str'>
list 242 is <class 'str'>
list 243 is <class 'str'>
list 244 is <class 'str'>
list 245 is <class 'str'>
list 246 is <class 'str'>
list 247 is <class 'str'>
list 248 is <class 'str'>
list 249 is <class 'str'>
list 250 is <class 'str'>
list 251 is <class 'str'>
list 252 is <class 'str'>
list 253 is <class 'str'>
list 254 is <class 'str'>
list 255 is <class 'str'>
list 256 is <class 'str'>
list 257 is <class 'str'>
list 258 is <class 'str'>
list 259 is <class 'str'>
list 260 is <class 'str'>
list 261 is <class 'str'>
list 262 is <class 'str'>
list 263 is <class 'str'>
list 264 is <class 'str'>
list 265 is <class 'str'>
list 266 is <class 'str'>
list 267 is <class 'str'>
list 268 is <class 'str'>
list 269 is <class 'str'>
list 270 is <class 'str'>
list 271 is <class 'str'>
list 272 is <class 'str'>
list 273 is <class 'str'>
list 274 is <class 'str'>
list 275 is <class 'str'>
list 276 is <class 'str'>
list 277 is <class 'str'>
list 278 is <class 'str'>
list 279 is <class 'str'>
list 280 is <class 'str'>
list 281 is <class 'str'>
list 282 is <class 'str'>
list 283 is <class 'str'>
list 284 is <class 'str'>
list 285 is <class 'str'>
list 286 is <class 'str'>
list 287 is <class 'str'>
list 288 is <class 'str'>
list 289 is <class 'str'>
list 290 is <class 'str'>
list 291 is <class 'str'>
list 292 is <class 'str'>
list 293 is <class 'str'>
list 294 is <class 'str'>
list 295 is <class 'str'>
list 296 is <class 'str'>
list 297 is <class 'str'>
list 298 is <class 'str'>
list 299 is <class 'str'>
list 300 is <class 'str'>
list 301 is <class 'str'>
list 302 is <class 'str'>
list 303 is <class 'str'>
list 304 is <class 'str'>
list 305 is <class 'str'>
list 306 is <class 'str'>
list 307 is <class 'str'>
list 308 is <class 'str'>
list 309 is <class 'str'>
list 310 is <class 'str'>
list 311 is <class 'str'>
list 312 is <class 'str'>
list 313 is <class 'str'>
list 314 is <class 'str'>
list 315 is <class 'str'>
list 316 is <class 'str'>
list 317 is <class 'str'>
list 318 is <class 'str'>
list 319 is <class 'str'>
list 320 is <class 'str'>
list 321 is <class 'str'>
list 322 is <class 'str'>
list 323 is <class 'str'>
list 324 is <class 'str'>
list 325 is <class 'str'>
list 326 is <class 'str'>
list 327 is <class 'str'>
list 328 is <class 'str'>
list 329 is <class 'str'>
list 330 is <class 'str'>
list 331 is <class 'str'>
list 332 is <class 'str'>
list 333 is <class 'str'>
list 334 is <class 'str'>
list 335 is <class 'str'>
list 336 is <class 'str'>
list 337 is <class 'str'>
list 338 is <class 'str'>
list 339 is <class 'str'>
list 340 is <class 'str'>
list 341 is <class 'str'>
list 342 is <class 'str'>
list 343 is <class 'str'>
list 344 is <class 'str'>
list 345 is <class 'str'>
list 346 is <class 'str'>
list 347 is <class 'str'>

### Attack, Spell Attack, Save DC
Actually, there is some information within these strings we can pull out easily with regex search, match, findall. Let's do that before converting into lists

In [205]:
# Create new columns for features
monster_df = monster_df.assign(Attack_Bonus= '', Spell_Bonus = '', Spell_Save_DC = '')

#Attack Bonus
for indx, action in enumerate(monster_df['Actions']):
    try:
        found = re.search("\+(.+?) to hit", action).group(0)
        monster_df.loc[indx,'Attack_Bonus'] = int(found.split()[0].lstrip('+'))
    except:
        monster_df.loc[indx,'Attack_Bonus'] = 0

#Spell Attack Bonus

for indx, trait in enumerate(monster_df['Traits']):
    try:
        found = re.search("\+(.+?) to hit", trait).group(0)
        monster_df.loc[indx,'Spell_Bonus'] = int(found.split()[0].lstrip('+'))
    except:
        monster_df.loc[indx,'Spell_Bonus'] = 0

#Spell Save DC

for indx, trait in enumerate(monster_df['Traits']):
    try:
        found = re.search("spell save DC [0-9]+", trait).group(0)
        monster_df.loc[indx,'Spell_Save_DC'] = int(found.split()[-1])
    except:
        monster_df.loc[indx,'Spell_Save_DC'] = 0

## Saving Throw Expansion
We want to be able to evaluate Saving Throw Numbers just like we due stats. Some monsters have bonuses to certain saving throws, which we will input first. Then we will use the stats to fill in the rest of the saving throws. Stat numbers have a base relationship to saving throw where every 2 stat increases is +1 into Saving throw. Example, 10 in Strength is a +0 in Str Saving Throw, but a 12 in Strength is a +1, and finally a 20 in Strength is a +5 in Strength saving throw.

In [206]:
monster_df["Saving Throws"] = monster_df['Saving Throws'].apply(clean_list)

#turn saving throw feature values into lists using literal_eval
monster_df["Saving Throws"] = monster_df["Saving Throws"].apply(ast.literal_eval)

#Saving Throw Exapanded features
saving_throw_df = pd.DataFrame(columns={"STR_SV","DEX_SV","CON_SV","INT_SV","WIS_SV","CHA_SV"})

for indx, saving_throw in enumerate(monster_df['Saving Throws']): 
    for string in saving_throw:
        if "DEX" in string:
            saving_throw_df.loc[indx,"DEX_SV"] = int(string.split()[1].lstrip('+'))
        elif "CON" in string:
            saving_throw_df.loc[indx,"CON_SV"] = int(string.split()[1].lstrip('+'))
        elif "STR" in string:
            saving_throw_df.loc[indx,"STR_SV"] = int(string.split()[1].lstrip('+'))
        elif "WIS" in string:
            saving_throw_df.loc[indx,"WIS_SV"] = int(string.split()[1].lstrip('+'))
        elif "INT" in string:
            saving_throw_df.loc[indx,"INT_SV"] = int(string.split()[1].lstrip('+'))
        elif "CHA" in string:
            saving_throw_df.loc[indx,"CHA_SV"] = int(string.split()[1].lstrip('+'))
            
monster_df = pd.concat([monster_df,saving_throw_df], axis=1)

In [207]:
#Using Stats to fill in missing saving throws
stat_modifiers ={('1') : -5, ('2','3') : -4, ('4','5') : -3, ('6','7') : -2, ('8','9') : -1, ('10','11') : 0, ('12','13') : 1, ('14','15') : 2, ('16','17') : 3, ('18','19') : 4, 
('20','21') : 5, ('22','23') : 6, ('24','25') : 7, ('26','27') : 8, ('28','29') : 9, ('30') : 10}

for clms in monster_df.iloc[:,28:34]:
    monster_stat = clms.split('_')[0]
    for indx, value in enumerate(monster_df[clms]):
        if math.isnan(value):
            for stat_num, modifier in stat_modifiers.items():
               if str(monster_df.loc[indx,monster_stat]) in stat_num:
                    monster_df.loc[indx,clms] = modifier

In [208]:

#evaluate string and turn into lists
column_lists = ["Environment", "Reactions", "Actions"]
for columns in column_lists:
    monster_df[columns] = monster_df[columns].apply(ast.literal_eval)
            
#"Damage Resistances","Damage Vulnerabilities", "Damage Immunities", have wonky typing due to semicolon
# Traits, Condition immunities, saving throws create type error

#check that they are lists
for i,j in enumerate(monster_df["Environment"]):
   print("list",i,"is",type(j))

#create dummy variables for envinroment, which includes the list for variables
dummies = pd.get_dummies(monster_df['Environment'].explode()).reset_index().groupby(['index']).sum()
monster_df = pd.concat([monster_df,dummies], axis=1)

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>
list 48 is <class 'list'>
list 49 is <class 'list'>
list 50 is <class 'list'>
list 51 is <class 'list'>
list 52 is <class 'list'>
list 53 is <class 'list'>
list 54 is <class 'list'>
list 55 is <class 'list'>
list 56 is <class 'list'>
list 57 is <class 'list'>
list 58 is <class 'list'>
list 59 is <class 'list'>
list 60 is <class 'list'>
list 61 is <class 'list'>
list 62 is <class 'list'>
list 63 is <class 'list'>
list 64 is <class 'list'>
list 65 is <class 'list'>
list 66 is <class 'list'>
list 67 is <class 'list'>
list 68 is <class 'list'>
list 69 is <class 'list'>
list 70 is <class 'list'>
list 71 is <class 'list'>
list 72 is <class 'list'>
list 73 is <class 'list'>
list 74 is <class 'list'>
list 75 is <class 'list'>
list 76 is <class 'list'>
list 77 is <class 'list'>
list 78 is <class 'list'>
list 79 is <class 'list'>
list 80 is <class 'list'>
list 81 is <class 'list'>
list 82 is <class 'list'>
list 83 is <class 'list'>
list 84 is <class 'list'>
list 85 is <class 'list'>
list 86 is <class 'list'>
list 87 is <class 'list'>
list 88 is <class 'list'>
list 89 is <class 'list'>
list 90 is <class 'list'>
list 91 is <class 'list'>
list 92 is <class 'list'>
list 93 is <class 'list'>
list 94 is <class 'list'>
list 95 is <class 'list'>
list 96 is <class 'list'>
list 97 is <class 'list'>
list 98 is <class 'list'>
list 99 is <class 'list'>
list 100 is <class 'list'>
list 101 is <class 'list'>
list 102 is <class 'list'>
list 103 is <class 'list'>
list 104 is <class 'list'>
list 105 is <class 'list'>
list 106 is <class 'list'>
list 107 is <class 'list'>
list 108 is <class 'list'>
list 109 is <class 'list'>
list 110 is <class 'list'>
list 111 is <class 'list'>
list 112 is <class 'list'>
list 113 is <class 'list'>
list 114 is <class 'list'>
list 115 is <class 'list'>
list 116 is <class 'list'>
list 117 is <class 'list'>
list 118 is <class 'list'>
list 119 is <class 'list'>
list 120 is <class 'list'>
list 121 is <class 'list'>
list 122 is <class 'list'>
list 123 is <class 'list'>
list 124 is <class 'list'>
list 125 is <class 'list'>
list 126 is <class 'list'>
list 127 is <class 'list'>
list 128 is <class 'list'>
list 129 is <class 'list'>
list 130 is <class 'list'>
list 131 is <class 'list'>
list 132 is <class 'list'>
list 133 is <class 'list'>
list 134 is <class 'list'>
list 135 is <class 'list'>
list 136 is <class 'list'>
list 137 is <class 'list'>
list 138 is <class 'list'>
list 139 is <class 'list'>
list 140 is <class 'list'>
list 141 is <class 'list'>
list 142 is <class 'list'>
list 143 is <class 'list'>
list 144 is <class 'list'>
list 145 is <class 'list'>
list 146 is <class 'list'>
list 147 is <class 'list'>
list 148 is <class 'list'>
list 149 is <class 'list'>
list 150 is <class 'list'>
list 151 is <class 'list'>
list 152 is <class 'list'>
list 153 is <class 'list'>
list 154 is <class 'list'>
list 155 is <class 'list'>
list 156 is <class 'list'>
list 157 is <class 'list'>
list 158 is <class 'list'>
list 159 is <class 'list'>
list 160 is <class 'list'>
list 161 is <class 'list'>
list 162 is <class 'list'>
list 163 is <class 'list'>
list 164 is <class 'list'>
list 165 is <class 'list'>
list 166 is <class 'list'>
list 167 is <class 'list'>
list 168 is <class 'list'>
list 169 is <class 'list'>
list 170 is <class 'list'>
list 171 is <class 'list'>
list 172 is <class 'list'>
list 173 is <class 'list'>
list 174 is <class 'list'>
list 175 is <class 'list'>
list 176 is <class 'list'>
list 177 is <class 'list'>
list 178 is <class 'list'>
list 179 is <class 'list'>
list 180 is <class 'list'>
list 181 is <class 'list'>
list 182 is <class 'list'>
list 183 is <class 'list'>
list 184 is <class 'list'>
list 185 is <class 'list'>
list 186 is <class 'list'>
list 187 is <class 'list'>
list 188 is <class 'list'>
list 189 is <class 'list'>
list 190 is <class 'list'>
list 191 is <class 'list'>
list 192 is <class 'list'>
list 193 is <class 'list'>
list 194 is <class 'list'>
list 195 is <class 'list'>
list 196 is <class 'list'>
list 197 is <class 'list'>
list 198 is <class 'list'>
list 199 is <class 'list'>
list 200 is <class 'list'>
list 201 is <class 'list'>
list 202 is <class 'list'>
list 203 is <class 'list'>
list 204 is <class 'list'>
list 205 is <class 'list'>
list 206 is <class 'list'>
list 207 is <class 'list'>
list 208 is <class 'list'>
list 209 is <class 'list'>
list 210 is <class 'list'>
list 211 is <class 'list'>
list 212 is <class 'list'>
list 213 is <class 'list'>
list 214 is <class 'list'>
list 215 is <class 'list'>
list 216 is <class 'list'>
list 217 is <class 'list'>
list 218 is <class 'list'>
list 219 is <class 'list'>
list 220 is <class 'list'>
list 221 is <class 'list'>
list 222 is <class 'list'>
list 223 is <class 'list'>
list 224 is <class 'list'>
list 225 is <class 'list'>
list 226 is <class 'list'>
list 227 is <class 'list'>
list 228 is <class 'list'>
list 229 is <class 'list'>
list 230 is <class 'list'>
list 231 is <class 'list'>
list 232 is <class 'list'>
list 233 is <class 'list'>
list 234 is <class 'list'>
list 235 is <class 'list'>
list 236 is <class 'list'>
list 237 is <class 'list'>
list 238 is <class 'list'>
list 239 is <class 'list'>
list 240 is <class 'list'>
list 241 is <class 'list'>
list 242 is <class 'list'>
list 243 is <class 'list'>
list 244 is <class 'list'>
list 245 is <class 'list'>
list 246 is <class 'list'>
list 247 is <class 'list'>
list 248 is <class 'list'>
list 249 is <class 'list'>
list 250 is <class 'list'>
list 251 is <class 'list'>
list 252 is <class 'list'>
list 253 is <class 'list'>
list 254 is <class 'list'>
list 255 is <class 'list'>
list 256 is <class 'list'>
list 257 is <class 'list'>
list 258 is <class 'list'>
list 259 is <class 'list'>
list 260 is <class 'list'>
list 261 is <class 'list'>
list 262 is <class 'list'>
list 263 is <class 'list'>
list 264 is <class 'list'>
list 265 is <class 'list'>
list 266 is <class 'list'>
list 267 is <class 'list'>
list 268 is <class 'list'>
list 269 is <class 'list'>
list 270 is <class 'list'>
list 271 is <class 'list'>
list 272 is <class 'list'>
list 273 is <class 'list'>
list 274 is <class 'list'>
list 275 is <class 'list'>
list 276 is <class 'list'>
list 277 is <class 'list'>
list 278 is <class 'list'>
list 279 is <class 'list'>
list 280 is <class 'list'>
list 281 is <class 'list'>
list 282 is <class 'list'>
list 283 is <class 'list'>
list 284 is <class 'list'>
list 285 is <class 'list'>
list 286 is <class 'list'>
list 287 is <class 'list'>
list 288 is <class 'list'>
list 289 is <class 'list'>
list 290 is <class 'list'>
list 291 is <class 'list'>
list 292 is <class 'list'>
list 293 is <class 'list'>
list 294 is <class 'list'>
list 295 is <class 'list'>
list 296 is <class 'list'>
list 297 is <class 'list'>
list 298 is <class 'list'>
list 299 is <class 'list'>
list 300 is <class 'list'>
list 301 is <class 'list'>
list 302 is <class 'list'>
list 303 is <class 'list'>
list 304 is <class 'list'>
list 305 is <class 'list'>
list 306 is <class 'list'>
list 307 is <class 'list'>
list 308 is <class 'list'>
list 309 is <class 'list'>
list 310 is <class 'list'>
list 311 is <class 'list'>
list 312 is <class 'list'>
list 313 is <class 'list'>
list 314 is <class 'list'>
list 315 is <class 'list'>
list 316 is <class 'list'>
list 317 is <class 'list'>
list 318 is <class 'list'>
list 319 is <class 'list'>
list 320 is <class 'list'>
list 321 is <class 'list'>
list 322 is <class 'list'>
list 323 is <class 'list'>
list 324 is <class 'list'>
list 325 is <class 'list'>
list 326 is <class 'list'>
list 327 is <class 'list'>
list 328 is <class 'list'>
list 329 is <class 'list'>
list 330 is <class 'list'>
list 331 is <class 'list'>
list 332 is <class 'list'>
list 333 is <class 'list'>
list 334 is <class 'list'>
list 335 is <class 'list'>
list 336 is <class 'list'>
list 337 is <class 'list'>
list 338 is <class 'list'>
list 339 is <class 'list'>
list 340 is <class 'list'>
list 341 is <class 'list'>
list 342 is <class 'list'>
list 343 is <class 'list'>
list 344 is <class 'list'>
list 345 is <class 'list'>
list 346 is <class 'list'>
list 347 is <class 'list'>

## Actions: Damage
While there is a ton of information in Actions that we may use for word clouds later, the most critical thing for our MVP is trying to pull out the potential damage of the monsters. This is difficult since monsters are so diverse, some have multiattack, which could mean many different things, some have spells, which we don't immediatelly have the damage for, some do secondary damage upon a failed saving throw. So distilling this down into a simple X damage per round will prove difficult. 

First, we can see that regular attacks follow a pattern of 'Hit: XX (XdX + X) """ """ damage.' This is important because we can pull out the average damage and use it for the monster. I'm thinking we may need to make a seperate dataframe to work with this information to start.

In [209]:
monster_actions = monster_df[['Monster Name', 'Actions']]

#Find out max number of attacks is 10
max_attacks = monster_actions['Actions'].explode()
max_attacks.groupby(max_attacks.index).count().max()

#Create 10 columns to work through attacks individually
monster_actions = monster_actions.assign(Attack_1 = "", Attack_2 = "",  Attack_3 = "", Attack_4 = "", Attack_5 = "", Attack_6 = "", Attack_7 = "", Attack_8 = "", Attack_9 = "", Attack_10 = "")

for indx,actions in enumerate(monster_actions['Actions']):
    n = 0
    for action in actions:
        monster_actions.iloc[indx, n+2] = action
        n+=1
        
#columns Attack_9 and Attack_10 can be removed since they are relating to dragon polymorph
monster_actions.drop(columns={"Actions", "Attack_9","Attack_10"},axis=1, inplace = True)

In [210]:
#update column to show dictionary of types and number of attacks for multiattacks

def MultiAttackSearch(attack_value, search, replaced, replace, split):
    multiattack = re.search(search, attack_value).group(1)
    multiattack = multiattack.replace(replaced,replace)
    multiattack = re.split(split, multiattack)
    for indx1, item in enumerate(multiattack):
        if item !=" ":
            MA_number = {}
            multiattack[indx1] = item.split()
            value, key = multiattack[indx1][0], multiattack[indx1][1]
            MA_number[key] = w2n.word_to_num(value)
            multiattack[indx1] = MA_number
    return multiattack

for indx, attack in enumerate(monster_actions["Attack_1"]):
        if "Multiattack" in attack:
            if ": " in attack:
                monster_actions.loc[indx,"Attack_1"] = MultiAttackSearch(attack,"\: (.*?)\.", " with its "," ",'and |,')
            elif ("makes " in attack) and ("1d4" not in attack) and ("either" not in attack) and ("as" not in attack):   
                multiattack = re.search("makes (.*?) ", attack).group(1)
                multiattack = multiattack.replace("makes ","")
                multiattack = w2n.word_to_num(multiattack)
                MA_number = {}
                value, key = multiattack, "Attack"
                MA_number[key] = value
                Monster_list = []
                Monster_list.append(MA_number)
                monster_actions.loc[indx,"Attack_1"] = Monster_list
            elif ("medusa" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'snake hair':1},{'shortsword':2}]
            elif ("drider" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'longsword':3}]
            elif ("flameskull" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'Fire Ray':2}]
            elif ("oni" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{'Glaive':2}]
            elif ("fungus" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Rotting Touch": 4}]
            elif ("hydra" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Bite": 5}]
            elif ("assassin" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Bite": 5}]
            elif ("rakshasa" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"Bite": 5}]
            elif ("veteran" in attack):
                monster_actions.loc[indx,"Attack_1"] = [{"longsword": 2},{"shortsword":1}]

In [211]:
#The way split works if there is ', and' it causes a blank value in the list, so we will delete it
for indx, values in enumerate(monster_actions["Attack_1"]):
    if isinstance(values,list):
        if " " in values:
            values.remove(" ")

monster_actions["Multiattack"] = monster_actions["Attack_1"]

In [212]:
#remove the multiattack from Attack_1 so that it only will contain attacks for calculations
for indx, value in enumerate(monster_actions["Attack_1"]):
    if type(value) == list:
        monster_actions.loc[indx,"Attack_1"] = ""

#remove the attacks from multiattack so that it only will contain attacks for calculations
for indx, value in enumerate(monster_actions["Multiattack"]):
    if type(value) != list:
        monster_actions.loc[indx,"Multiattack"] = ""

In [213]:
# Several monsters have "if this monster takes damage than X happens", which makes finding and replacing attacks with "target takes X damage" difficult. We will replace these 5 spots manually

#replace "Hit:" attacks with just damage and bonus damage such as extra lightning damage
for col in monster_actions.iloc[:,1:9]:
    for indx, attack in enumerate(monster_actions[col]):
        try:
            if ("worm" in attack) or ("kraken takes" in attack) or ("remorhaz takes" in attack) or ("behir takes" in attack) or ("tarrasque takes" in attack): 
                monster_actions.loc[indx,col] = 0
            elif "plus" in attack:
                ext_damage = int(re.search("plus (.+?) ", attack).group(1))         
                if "Hit:" in attack:
                    prim_damage = int(re.search("Hit: (.+?) ", attack).group(1))
                monster_actions.loc[indx,col] = prim_damage + ext_damage
            else:
                if "Hit:" in attack:
                    monster_actions.loc[indx,col] = int(re.search("Hit: (.+?) ", attack).group(1))
                elif "taking " in attack:
                    monster_actions.loc[indx,col] = int(re.search("taking (.+?) ", attack).group(1))
                elif "take " in attack:
                    monster_actions.loc[indx,col] = int(re.search("take [0-9]+ ", attack).group(0).split()[1])
                elif "takes " in attack:
                    monster_actions.loc[indx,col] = int(re.search("takes [0-9]+ ", attack).group(0).split()[1])                                    
        except:
            continue

In [214]:
#replace remaining strings as 0
for col in monster_actions.iloc[:,1:11]:
    monster_actions[col].replace(to_replace='^', value=0, regex=True, inplace=True)

In [215]:
# Create Round 1 damage for multi attack and single attack monsters
for indx, lst in enumerate(monster_actions["Multiattack"]):
    if lst != 0:
        attack_total = 0
        for i in range(len(lst)):
            col = str("Attack_"+str(i+2))
            attack_num = monster_actions.loc[indx,col]
            multiplier = int(list(lst[i].values())[0])
            attack_total += attack_num * multiplier 
        monster_actions.loc[indx,"Round_1"] = attack_total
    else:
        monster_actions.loc[indx,"Round_1"] = monster_actions.loc[indx,"Attack_1"] 

monster_actions["Round_2"] = monster_actions["Round_1"]

In [216]:
monster_actions["Round_3"] = monster_actions["Round_1"]
for col in monster_actions.iloc[:,1:9]:
    for indx, attack in enumerate(monster_actions[col]):
        if attack > monster_actions.loc[indx,"Round_1"]:
            monster_actions.loc[indx,"Round_3"] = attack

In [217]:
# Final Round Total
monster_actions["Total_Action Damage_3Rounds"] = (monster_actions["Round_1"] + monster_actions["Round_2"] +  monster_actions["Round_3"])

In [218]:
# Creatures with swallow all have additional Round damage
# Giant Toad 10
# Giant Frog 5
# Remorhaz 21
# Tarrasque 56
# Behir 21
# Old Croaker 10 atk2
monster_actions[monster_actions["Monster Name"] == "Giant Toad"]

swallow_monsters = ['Giant Toad', 'Giant Frog', 'Remorhaz', 'Tarrasque', 'Behir', 'Old Croaker']

for monster in swallow_monsters:
    indx = monster_actions[monster_actions["Monster Name"] == monster].index
    for col in monster_actions[['Attack_8','Attack_7','Attack_6','Attack_5','Attack_4','Attack_3','Attack_2']]:
        attack = int(monster_actions.loc[indx, col])
        if attack != 0:
            print(monster_actions.loc[indx, "Round_1"] )
            monster_actions.loc[indx, "Round_1"] += attack
            monster_actions.loc[indx, "Round_2"] += attack
            monster_actions.loc[indx, "Round_3"] += attack
            break

251    12.0
Name: Round_1, dtype: float64
302    4.0
Name: Round_1, dtype: float64
340    50.0
Name: Round_1, dtype: float64
341    148.0
Name: Round_1, dtype: float64
295    56.0
Name: Round_1, dtype: float64
314    12.0
Name: Round_1, dtype: float64

In [219]:
#Monsters with  Angelic Weapon need to increase damage: Deva 54, Planatar, 67.5, Solar 81

deva_index = monster_actions[monster_actions["Monster Name"]=="Deva"].index
solar_index = monster_actions[monster_actions["Monster Name"]=="Solar"].index
planatar_index = monster_actions[monster_actions["Monster Name"]=="Planetar"].index


monster_actions.loc[deva_index,"Total_Action Damage_3Rounds"]+=108
monster_actions.loc[solar_index,"Total_Action Damage_3Rounds"]+=162
monster_actions.loc[planatar_index,"Total_Action Damage_3Rounds"]+=135

In [220]:
#While not a perfect set, its a great start for the MVP lets clean up for Adding new columns
monster_actions.drop(columns={"Multiattack", "Round_1", "Round_2","Round_3"}, axis = 1, inplace = True)

In [221]:
monster_actions[monster_actions["Monster Name"]=="Planetar"]

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Total_Action Damage_3Rounds
134,Planetar,0,43,0,0,0,0,0,0,393.0

## Reactions and Legendary Actions
Now we need to add Reaction and Legendary Action damage to the total action damage for many of these monsters.

In [222]:
#Need to Add Legendary Actions and Reactions to Total Damage before calculating average
monster_reactions = monster_df[['Monster Name', 'Reactions']]

In [223]:
# None of the Reactions deal with damage. There are some AC based ones we may consider
for value in enumerate(monster_reactions["Reactions"]):
    print(value)

(0, ['NA'])
(1, ['NA'])
(2, ['NA'])
(3, ['NA'])
(4, ['NA'])
(5, ['NA'])
(6, ['NA'])
(7, ["Split. When a pudding that is Medium or larger is subjected to lightning or slashing damage, it splits into two new puddings if it has at least 10 hit points. Each new pudding has hit points equal to half the original pudding's, rounded down. New puddings are one size smaller than the original pudding."])
(8, ['NA'])
(9, ['NA'])
(10, ['NA'])
(11, ['NA'])
(12, ['NA'])
(13, ["Unnerving Mask. When a creature the devil can see starts its turn within 30 feet of the devil, the devil can create the illusion that it looks like one of the creature's departed loved ones or bitter enemies. If the creature can see the devil, it must succeed on a DC 14 Wisdom saving throw or be frightened until the end of its turn."])
(14, ['NA'])
(15, ['NA'])
(16, ['NA'])
(17, ['NA'])
(18, ['NA'])
(19, ['NA'])
(20, ['NA'])
(21, ['NA'])
(22, ['NA'])
(23, ['NA'])
(24, ['NA'])
(25, ['NA'])
(26, ['NA'])
(27, ['NA'])
(28, ['NA'])
(29, ['NA'])
(30, ['NA'])
(31, ['NA'])
(32, ['NA'])
(33, ['NA'])
(34, ['NA'])
(35, ['NA'])
(36, ['NA'])
(37, ['NA'])
(38, ['NA'])
(39, ['NA'])
(40, ['NA'])
(41, ['NA'])
(42, ['NA'])
(43, ['NA'])
(44, ['NA'])
(45, ['NA'])
(46, ['NA'])
(47, ['NA'])
(48, ['NA'])
(49, ['NA'])
(50, ['NA'])
(51, ['NA'])
(52, ['NA'])
(53, ['NA'])
(54, ['NA'])
(55, ['NA'])
(56, ['NA'])
(57, ['NA'])
(58, ['NA'])
(59, ['NA'])
(60, ['NA'])
(61, ['NA'])
(62, ['NA'])
(63, ['NA'])
(64, ['NA'])
(65, ['NA'])
(66, ['NA'])
(67, ['NA'])
(68, ["Shield. When a creature makes an attack against the wearer of the guardian's amulet, the guardian grants a +2 bonus to the wearer's AC if the guardian is within 5 feet of the wearer."])
(69, ["Shriek. When bright light or a creature is within 30 feet of the shrieker, it emits a shriek audible within 300 feet of it. The shrieker continues to shriek until the disturbance moves out of range and for 1d4 of the shrieker's turns afterward."])
(70, ['NA'])
(71, ['Spell Reflection. If the spectator makes a successful saving throw against a spell, or a spell attack misses it, the spectator can choose another creature (including the spellcaster) it can see within 30 feet of it. The spell targets the chosen creature instead of the spectator. If the spell forced a saving throw, the chosen creature makes its own save. If the spell was an attack, the attack roll is rerolled against the chosen creature.'])
(72, ['NA'])
(73, ['NA'])
(74, ['Deflect Attack. The defender imposes disadvantage on the attack roll of one creature it can see that is within 5 feet of it, provided the attack roll is against a creature other than the defender.'])
(75, ['Rock Catching. If a rock or similar object is hurled at the giant, the giant can, with a successful DC 10 Dexterity saving throw, catch the missile and take no bludgeoning damage from it.'])
(76, ['NA'])
(77, ['NA'])
(78, ['NA'])
(79, ['NA'])
(80, ['NA'])
(81, ['NA'])
(82, ['NA'])
(83, ['NA'])
(84, ['NA'])
(85, ['NA'])
(86, ['NA'])
(87, ['NA'])
(88, ['NA'])
(89, ['NA'])
(90, ['NA'])
(91, ['NA'])
(92, ['NA'])
(93, ['NA'])
(94, ['NA'])
(95, ['NA'])
(96, ['NA'])
(97, ['NA'])
(98, ['NA'])
(99, ['NA'])
(100, ['NA'])
(101, ['NA'])
(102, ['NA'])
(103, ['NA'])
(104, ['NA'])
(105, ['NA'])
(106, ['Parry. The captain adds 2 to its AC against one melee attack that would hit it. To do so, the captain must see the attacker and be wielding a melee weapon.'])
(107, ['NA'])
(108, ['NA'])
(109, ['NA'])
(110, ['NA'])
(111, ['NA'])
(112, ['NA'])
(113, ['NA'])
(114, ['NA'])
(115, ['NA'])
(116, ['NA'])
(117, ['NA'])
(118, ['NA'])
(119, ['NA'])
(120, ['NA'])
(121, ['NA'])
(122, ['NA'])
(123, ['NA'])
(124, ['NA'])
(125, ['NA'])
(126, ['NA'])
(127, ['NA'])
(128, ['NA'])
(129, ['NA'])
(130, ['Parry. The noble adds 2 to its AC against one melee attack that would hit it. To do so, the noble must see the attacker and be wielding a melee weapon.'])
(131, ['NA'])
(132, ['NA'])
(133, ['NA'])
(134, ['NA'])
(135, ['NA'])
(136, ['NA'])
(137, ['NA'])
(138, ['NA'])
(139, ['NA'])
(140, ['NA'])
(141, ['NA'])
(142, ['NA'])
(143, ['NA'])
(144, ['NA'])
(145, ['NA'])
(146, ['NA'])
(147, ['NA'])
(148, ['NA'])
(149, ['NA'])
(150, ['NA'])
(151, ['NA'])
(152, ['NA'])
(153, ['NA'])
(154, ['NA'])
(155, ['NA'])
(156, ['NA'])
(157, ['NA'])
(158, ['NA'])
(159, ['NA'])
(160, ['NA'])
(161, ['NA'])
(162, ['NA'])
(163, ['NA'])
(164, ['NA'])
(165, ['NA'])
(166, ['NA'])
(167, ['NA'])
(168, ['NA'])
(169, ['NA'])
(170, ['NA'])
(171, ['NA'])
(172, ['NA'])
(173, ['NA'])
(174, ['NA'])
(175, ['NA'])
(176, ['NA'])
(177, ['NA'])
(178, ['NA'])
(179, ['NA'])
(180, ['NA'])
(181, ['NA'])
(182, ['NA'])
(183, ['NA'])
(184, ['NA'])
(185, ['NA'])
(186, ['NA'])
(187, ['NA'])
(188, ['NA'])
(189, ['NA'])
(190, ['NA'])
(191, ['NA'])
(192, ['NA'])
(193, ['NA'])
(194, ['NA'])
(195, ['NA'])
(196, ["Split. When a jelly that is Medium or larger is subjected to lightning or slashing damage, it splits into two new jellies if it has at least 10 hit points. Each new jelly has hit points equal to half the original jelly's, rounded down. New jellies are one size smaller than the original jelly."])
(197, ['NA'])
(198, ['NA'])
(199, ['NA'])
(200, ['NA'])
(201, ['NA'])
(202, ['NA'])
(203, ['NA'])
(204, ['NA'])
(205, ['NA'])
(206, ['NA'])
(207, ['NA'])
(208, ['NA'])
(209, ['NA'])
(210, ['NA'])
(211, ['NA'])
(212, ['NA'])
(213, ['NA'])
(214, ['NA'])
(215, ['NA'])
(216, ['NA'])
(217, ['NA'])
(218, ['NA'])
(219, ['NA'])
(220, ['NA'])
(221, ['NA'])
(222, ['NA'])
(223, ['NA'])
(224, ['NA'])
(225, ['NA'])
(226, ['NA'])
(227, ['NA'])
(228, ['NA'])
(229, ['NA'])
(230, ['NA'])
(231, ['NA'])
(232, ['NA'])
(233, ['NA'])
(234, ['NA'])
(235, ['NA'])
(236, ['NA'])
(237, ['NA'])
(238, ['NA'])
(239, ['NA'])
(240, ['NA'])
(241, ['NA'])
(242, ['Parry. The erinyes adds 4 to its AC against one melee attack that would hit it. To do so, the erinyes must see the attacker and be wielding a melee weapon.'])
(243, ['NA'])
(244, ['NA'])
(245, ['NA'])
(246, ['NA'])
(247, ['NA'])
(248, ['NA'])
(249, ['NA'])
(250, ['NA'])
(251, ['NA'])
(252, ['NA'])
(253, ['NA'])
(254, ['Parry. The gladiator adds 3 to its AC against one melee attack that would hit it. To do so, the gladiator must see the attacker and be wielding a melee weapon.'])
(255, ['NA'])
(256, ['NA'])
(257, ['Channel Magic. The homunculus delivers a spell you cast that has a range of touch. The homunculus must be within 120 feet of you.'])
(258, ['NA'])
(259, ['NA'])
(260, ['NA'])
(261, ['NA'])
(262, ['NA'])
(263, ['Deflect Attack. The defender imposes disadvantage on the attack roll of one creature it can see that is within 5 feet of it, provided the attack roll is against a creature other than the defender.', 'Whenever your steel defender uses its Deflect Attack, the attacker takes force damage equal to 1d4 + your Intelligence modifier.'])
(264, ['NA'])
(265, ['NA'])
(266, ['NA'])
(267, ['NA'])
(268, ['NA'])
(269, ['NA'])
(270, ['NA'])
(271, ['NA'])
(272, ['NA'])
(273, ['NA'])
(274, ['NA'])
(275, ['NA'])
(276, ['NA'])
(277, ['NA'])
(278, ['NA'])
(279, ['NA'])
(280, ['NA'])
(281, ['NA'])
(282, ['NA'])
(283, ['NA'])
(284, ['NA'])
(285, ['NA'])
(286, ['NA'])
(287, ['NA'])
(288, ['NA'])
(289, ['NA'])
(290, ['NA'])
(291, ['NA'])
(292, ['NA'])
(293, ['NA'])
(294, ['NA'])
(295, ['NA'])
(296, ['NA'])
(297, ['NA'])
(298, ['NA'])
(299, ['NA'])
(300, ['NA'])
(301, ['NA'])
(302, ['NA'])
(303, ['NA'])
(304, ['NA'])
(305, ['NA'])
(306, ['NA'])
(307, ['NA'])
(308, ['NA'])
(309, ['NA'])
(310, ['Parry. The knight adds 2 to its AC against one melee attack that would hit it. To do so, the knight must see the attacker and be wielding a melee weapon.'])
(311, ['Parry. The marilith adds 5 to its AC against one melee attack that would hit it. To do so, the marilith must see the attacker and be wielding a melee weapon.'])
(312, ['NA'])
(313, ['NA'])
(314, ['NA'])
(315, ['NA'])
(316, ['NA'])
(317, ['NA'])
(318, ['NA'])
(319, ['NA'])
(320, ['NA'])
(321, ['NA'])
(322, ['NA'])
(323, ['NA'])
(324, ['NA'])
(325, ['NA'])
(326, ['NA'])
(327, ['NA'])
(328, ['NA'])
(329, ['NA'])
(330, ['NA'])
(331, ['NA'])
(332, ['NA'])
(333, ['NA'])
(334, ['NA'])
(335, ['NA'])
(336, ['NA'])
(337, ['NA'])
(338, ['NA'])
(339, ['NA'])
(340, ['NA'])
(341, ['NA'])
(342, ['NA'])
(343, ['NA'])
(344, ['NA'])
(345, ['NA'])
(346, ['NA'])
(347, ['NA'])

In [224]:
#Need to Add Legendary Actions and Reactions to Total Damage before calculating average
monster_leg_actions = monster_df[['Monster Name', 'Legendary Actions']]

In [225]:
monster_leg_actions['Legendary Actions'][1]

'["The dragon can take 3 legendary actions, choosing from the options below. Only one legendary action option can be used at a time and only at the end of another creature\'s turn. The dragon regains spent legendary actions at the start of its turn.", \'Detect. The dragon makes a Wisdom (Perception) check.\', \'Tail Attack. The dragon makes a tail attack.\', \'Wing Attack (Costs 2 Actions). The dragon beats its wings. Each creature within 10 feet of the dragon must succeed on a DC 21 Dexterity saving throw or take 15 (2d6 + 8) bludgeoning damage and be knocked prone. The dragon can then fly up to half its flying speed.\']'

In [226]:
#Start with Dragons, all dragons will choose to make 3 tail attacks each round since predicting AOE damage is more involved. They would need to hit more than two people to be worth it.
#3 rounds and 3 L.A. per round

for indx, attack in enumerate(monster_actions["Attack_4"]):
    if "Ancient" in monster_actions.loc[indx,"Monster Name"] or "Adult" in monster_actions.loc[indx,"Monster Name"]:
        monster_actions.loc[indx,"Legendary Damage_3Rounds"] = attack*3*3

In [227]:
monster_actions[monster_actions['Legendary Damage_3Rounds'].isna()]

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Total_Action Damage_3Rounds,Legendary Damage_3Rounds
3,Air Elemental,0,14,0,0,0,0,0,0,84.0,NaN
4,Ape,0,6,6,0,0,0,0,0,36.0,NaN
5,Assassin,0,6,7,0,0,0,0,0,90.0,NaN
6,Azer,10,0,0,0,0,0,0,0,30.0,NaN
7,Black Pudding,24,0,0,0,0,0,0,0,72.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
343,Wyvern,0,11,13,11,0,0,0,0,72.0,NaN
344,Zombie,4,0,0,0,0,0,0,0,12.0,NaN
345,Commoner,2,0,0,0,0,0,0,0,6.0,NaN
346,Giant Owl,8,0,0,0,0,0,0,0,24.0,NaN
347,Glabrezu,0,16,7,0,0,0,0,0,138.0,NaN

In [228]:
#filter down to which monsters have LA
#remove dragons since we completed them already based on industry knowledge
monster_leg_actions = monster_leg_actions[monster_leg_actions["Legendary Actions"].str.contains('legendary actions')]
monster_leg_actions = monster_leg_actions[~monster_leg_actions["Legendary Actions"].str.contains('dragon')]

In [229]:
Leg_action_damage = [35,28,39,54,23,33,45,51,86,84]

monster_leg_actions["Legendary Damage"] = Leg_action_damage

# Mummy Lord 35
# Solar 28
# Gynosphinx 39
# Lich 54
# Vampire 23
# Unicorn 33
# Aboleth 45
# Androsphinx 51
# Kraken 86
# Tarrasque  84

In [230]:
monster_leg_actions["Legendary Damage"] = monster_leg_actions["Legendary Damage"] * 3
#because there are so few left, it will be easier to manually deal with them than trying to search for unifying words. If this ends up being a useful MVP, we will have a lot more work to do.

In [231]:
monster_leg_actions

,Monster Name,Legendary Actions,Legendary Damage
54,Mummy Lord,"[""The mummy lord can take 3 legendary actions,...",105
70,Solar,"[""The solar can take 3 legendary actions, choo...",84
126,Gynosphinx,"[""The sphinx can take 3 legendary actions, cho...",117
127,Lich,"[""The lich can take 3 legendary actions, choos...",162
202,Vampire,"['The vampire can take 3 legendary actions, ch...",69
212,Unicorn,"['The unicorn can take 3 legendary actions, ch...",99
214,Aboleth,"[""The aboleth can take 3 legendary actions, ch...",135
226,Androsphinx,"[""The sphinx can take 3 legendary actions, cho...",153
268,Kraken,"[""The kraken can take 3 legendary actions, cho...",258
341,Tarrasque,"['The tarrasque can take 3 legendary actions, ...",252

In [232]:
for indx,damage in zip(monster_leg_actions["Legendary Damage"].index,monster_leg_actions["Legendary Damage"]):
   monster_actions.loc[indx,"Legendary Damage_3Rounds"] = damage

In [233]:
monster_actions[monster_actions["Monster Name"] == "Kraken"]

,Monster Name,Attack_1,Attack_2,Attack_3,Attack_4,Attack_5,Attack_6,Attack_7,Attack_8,Total_Action Damage_3Rounds,Legendary Damage_3Rounds
268,Kraken,0,23,0,20,0,22,0,0,207.0,258.0

In [234]:
monster_actions["Legendary Damage_3Rounds"].fillna(0,inplace=True)

In [235]:
monster_actions["Average_Damage_per_Round"] = (monster_actions["Total_Action Damage_3Rounds"]+monster_actions["Legendary Damage_3Rounds"])/3

In [236]:
monster_actions.drop(monster_actions.iloc[:,0:11], axis=1, inplace= True)

In [237]:
monster_actions

     Average_Damage_per_Round
0                   97.000000
1                  103.000000
2                   94.333333
3                   28.000000
4                   12.000000
..                        ...
343                 24.000000
344                  4.000000
345                  2.000000
346                  8.000000
347                 46.000000

[348 rows x 1 columns]

In [238]:
monster_df = pd.concat([monster_df,monster_actions], axis=1)

In [239]:
monster_df['Average_Damage_per_Round'].describe()

count    348.000000
mean      24.298851
std       32.164982
min        0.000000
25%        5.000000
50%       12.000000
75%       28.000000
max      232.000000
Name: Average_Damage_per_Round, dtype: float64

## Damage Immunities, Resistences, Condition Immunities, Vunerabilities
We are only interested in how many the monsters possess for now, There may come a time where which type is important (if we ever do analysis on common damage inflicted)

In [240]:
monster_resist = monster_df[["Monster Name","Damage Resistances", "Damage Immunities", "Condition Immunities", "Damage Vulnerabilities"]]

In [241]:
#Set NA to zero since they have no resistances
for indx, resist in enumerate(monster_resist["Damage Resistances"]):
    if "Bludgeoning" in resist:
        resist = resist.replace("Bludgeoning, Piercing, and Slashing", "Blugeoning")
        resist = resist.replace(";", ",")
        monster_resist.loc[indx,'Damage Resistances'] = len(resist.split(','))
    elif monster_resist.loc[indx,"Damage Resistances"] == "['NA']":
        monster_resist.loc[indx,'Damage Resistances'] = 0
    else:
        monster_resist.loc[indx,"Damage Resistances"] = len(resist.split(','))

c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [242]:
#Set NA to zero since they have no Immunities
for indx, resist in enumerate(monster_resist["Damage Immunities"]):
    if "Bludgeoning" in resist:
        resist = resist.replace("Bludgeoning, Piercing, and Slashing", "Blugeoning")
        resist = resist.replace(";", ",")
        monster_resist.loc[indx,'Damage Immunities'] = len(resist.split(','))
    elif monster_resist.loc[indx,"Damage Immunities"] == "['NA']":
        monster_resist.loc[indx,'Damage Immunities'] = 0
    else:
        monster_resist.loc[indx,"Damage Immunities"] = len(resist.split(','))

In [243]:
#Set NA to zero since they have no condition immunities
for indx, resist in enumerate(monster_resist["Condition Immunities"]):
    if monster_resist.loc[indx,"Condition Immunities"] == "['NA']":
        monster_resist.loc[indx,'Condition Immunities'] = 0
    else:
        monster_resist.loc[indx,'Condition Immunities'] = len(resist.split(','))

In [244]:
#Set NA to zero since they have no vulnerabilties
for indx, resist in enumerate(monster_resist["Damage Vulnerabilities"]):
    if "Bludgeoning" in resist:
        resist = resist.replace("Bludgeoning, Piercing, and Slashing", "Blugeoning")
        resist = resist.replace(";", ",")
        monster_resist.loc[indx,'Damage Vulnerabilities'] = len(resist.split(','))
    elif monster_resist.loc[indx,"Damage Vulnerabilities"] == "['NA']":
        monster_resist.loc[indx,'Damage Vulnerabilities'] = 0
    else:
        monster_resist.loc[indx,"Damage Vulnerabilities"] = len(resist.split(','))

In [245]:
monster_resist.drop("Monster Name",axis=1, inplace = True)

c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [246]:
monster_df.drop(columns={"Damage Resistances", "Damage Immunities", "Condition Immunities", "Damage Vulnerabilities"},axis =1,inplace=True)
monster_df = pd.concat([monster_df,monster_resist],axis=1)

In [247]:
monster_df.drop('Saving Throws', axis=1)

,Monster Name,Size,Type,Alignment,Traits,Reactions,Armor Class,Hit Points,Speed,Challenge,...,NA,Swamp,Underdark,Underwater,Urban,Average_Damage_per_Round,Damage Resistances,Damage Immunities,Condition Immunities,Damage Vulnerabilities
0,Adult Green Dragon,Huge,dragon,lawful evil,['Amphibious. The dragon can breathe air and w...,[NA],19,207,"40 ft., fly 80 ft., swim 40 ft.",15.00,...,0,0,0,0,0,97.000000,0,1,1,0
1,Adult Silver Dragon,Huge,dragon,lawful good,['Legendary Resistance (3/Day). If the dragon ...,[NA],19,243,"40 ft., fly 80 ft.",16.00,...,0,0,0,0,1,103.000000,0,1,0,0
2,Adult White Dragon,Huge,dragon,chaotic evil,"[""Ice Walk. The dragon can move across and cli...",[NA],18,200,"40 ft., burrow 30 ft., fly 80 ft., swim 40 ft.",13.00,...,0,0,0,0,0,94.333333,0,1,0,0
3,Air Elemental,Large,elemental,neutral,"[""Air Form. The elemental can enter a hostile ...",[NA],15,90,"0 ft., fly 90 ft. (hover)",5.00,...,0,0,0,0,0,28.000000,3,1,8,0
4,Ape,Medium,beast,unaligned,[nan],[NA],12,19,"30 ft., climb 30 ft.",0.50,...,0,0,0,0,0,12.000000,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,Wyvern,Large,dragon,unaligned,[nan],[NA],13,110,"20 ft., fly 80 ft.",6.00,...,0,0,0,0,0,24.000000,0,0,0,0
344,Zombie,Medium,undead,neutral evil,['Undead Fortitude. If damage reduces the zomb...,[NA],8,22,20 ft.,0.25,...,0,0,0,0,1,4.000000,0,1,1,0
345,Commoner,Medium,humanoid,any alignment,[nan],[NA],10,4,30 ft.,0.00,...,0,0,0,0,1,2.000000,0,0,0,0
346,Giant Owl,Large,beast,neutral,"[""Flyby. The owl doesn't provoke opportunity a...",[NA],12,19,"5 ft., fly 60 ft.",0.25,...,0,0,0,0,0,8.000000,0,0,0,0
347,Glabrezu,Large,fiend,chaotic evil,"[""Innate Spellcasting. The glabrezu's spellcas...",[NA],17,157,40 ft.,9.00,...,1,0,0,0,0,46.000000,4,1,1,0

In [248]:
monster_df["Traits"].value_counts()

[nan]                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    56
['Legendary Resistance (3/Day). If the dragon fails a saving throw, it can choose to succeed instead.']                                                                                                                                                                                                                                                                                                                                                                                   9
['Amphibious. The dragon can breathe air and water.', 'Legendary Resistance (3/Day). If the dragon fails a saving throw, it can choose to succeed instead.']                                                                                                                                                                                                                                                                                                                              8
['Amphibious. The dragon can breathe air and water.']                                                                                                                                                                                                                                                                                                                                                                                                                                     8
["Swarm. The swarm can occupy another creature's space and vice versa, and the swarm can move through any opening large enough for a Tiny insect. The swarm can't regain hit points or gain temporary hit points."]                                                                                                                                                                                                                                                                       4
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         ..
['Charge. If the centaur moves at least 30 feet straight toward a target and then hits it with a pike attack on the same turn, the target takes an extra 10 (3d6) piercing damage.']                                                                                                                                                                                                                                                                                                      1
['Dark Devotion. The fanatic has advantage on saving throws against being charmed or frightened.', 'Spellcasting. The fanatic is a 4th-level spellcaster. Its spellcasting ability is Wisdom (spell save DC 11, +3 to hit with spell attacks). The fanatic has the following cleric spells prepared:', 'Cantrips (at will): light, sacred flame, thaumaturgy', '1st level (4 slots): command, inflict wounds, shield of faith', '2nd level (3 slots): hold person, spiritual weapon']     1
['Poor Depth Perception. The cyclops has disadvantage on any attack roll against a target more than 30 feet away.']                                                                                                                                                                                                                                                                                                                                                                       1
['Spellcasting. The druid is a 4th-level spellcaster. Its spellcasting ability is Wisdom (spell save DC 12, +4 to hit with spell attacks). It has the following druid spells prepared:', 'Cantrips (at will): druidcraft, produce flame, shillelagh', '1st level (4 slots): entangle, longstrider, speak with animals, thunderwave', '2nd level (3 slots): animal messenger, barkskin']                                                                                                   1
["Innate Spellcasting. The glabrezu's spellcasting ability is Intelligence (spell save DC 16). The glabrezu can innately cast the following spells, requiring no material components:", 'At will: darkness, detect magic, dispel magic', '1/day each: confusion, fly, power word stun', 'Magic Resistance. The glabrezu has advantage on saving throws against spells and other magical effects.']                                                                                        1
Name: Traits, Length: 246, dtype: int64

## Traits and Spellcasters
Lets try and simplify traits so we can use them, also we need to take a manual look at our spellcasters to ensure the damage isn't skewed since they aren't physical fighters

In [249]:

monster_traits = monster_df[['Monster Name', 'Traits']]

#binary 1 or 0 for spellcaster

for indx, spell in enumerate(monster_traits["Traits"]):
    if "Spellcasting" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Spellcaster"] = 1
    else:
        monster_traits.loc[indx, "Spellcaster"] = 0

c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [250]:
monster_traits[monster_traits["Traits"].str.contains("Angelic Weapons")]

,Monster Name,Traits,Spellcaster
19,Deva,"[""Angelic Weapons. The deva's weapon attacks a...",1.0
70,Solar,"[""Angelic Weapons. The solar's weapon attacks ...",1.0
134,Planetar,"[""Angelic Weapons. The planetar's weapon attac...",1.0

In [251]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Magic Resistance" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Magic Resistance"] = 1
    else:
        monster_traits.loc[indx, "Magic Resistance"] = 0

c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [252]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Legendary Resistance" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Legendary Resistance"] = 1
    else:
        monster_traits.loc[indx, "Legendary Resistance"] = 0

In [253]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Regeneration" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Regeneration"] = 1
    else:
        monster_traits.loc[indx, "Regeneration"] = 0

In [254]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Undead Fortitude" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Undead Fortitude"] = 1
    else:
        monster_traits.loc[indx, "Undead Fortitude"] = 0

In [255]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Pack Tactics" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Pack Tactics"] = 1
    else:
        monster_traits.loc[indx, "Pack Tactics"] = 0

In [256]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Damage Transfer" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Damage Transfer"] = 1
    else:
        monster_traits.loc[indx, "Damage Transfer"] = 0

In [257]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Angelic Weapons" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Angelic Weapons"] = 1
    else:
        monster_traits.loc[indx, "Angelic Weapons"] = 0

In [258]:
for indx, spell in enumerate(monster_traits["Traits"]):
    if "Charge" in monster_traits.loc[indx,"Traits"]:
        monster_traits.loc[indx, "Charge"] = 1
    else:
        monster_traits.loc[indx, "Charge"] = 0

In [259]:
monster_traits.drop("Traits",axis=1,inplace=True)
monster_df = pd.concat([monster_df,monster_traits],axis=1)

c:\Users\ingal\Documents\Data Science Work\DnD_Monsters\env\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [260]:
monster_df.columns

monster_df.drop(columns={"Saving Throws"}, axis=1, inplace=True)

In [261]:
monster_df.to_csv('../data/processed/1_Monster_DataSet.csv')